[2019-04-21 11:51] cool-RR opened #1 "Feature request: Add output coloring, option to disable"

[2019-04-22 12:05] azoellner opened #2 "NameError: global name 'output_path' is not defined"
https://github.com/cool-RR/PySnooper/blob/6e3d797be3fa0a746fb5b1b7c7fea78eb926c208/pysnooper/pysnooper.py#L26

should probably read
[code]

[2019-04-22 12:10] #2 closed

[2019-04-22 12:11] cool-RR commented on #2
Thank you @azoellner  for the quick report! I added tests for this too.

[2019-04-22 13:11] Kandeel4411 opened #5 "Ability to overwrite to log file instead of only appending"
Would  be nice if we could overwrite existing log files

[2019-04-22 13:17] cool-RR commented on #5
Nice idea, feel free to submit a pull request. Probably just truncate the
file when the function begins.

On Mon, Apr 22, 2019, 16:11 Kandeel4411 <notifications@github.com> wrote:

[2019-04-22 13:17] cool-RR commented on #5
If you're submitting a pull request, I'd require it to include tests.

On Mon, Apr 22, 2019, 16:17 Ram Rachum <ram.rachum@gmail.com> wrote:

[2019-04-22 13:21] rtphokie opened #6 "Feature request: Include filenames when depth >= 2"
When snooping to a depth greater than 1 that brings execution into a function that lives in another file, pysnooper should output that filename.

[2019-04-22 13:23] rtphokie opened #7 "show object attributes, not just local variables"
Consider this code:

[code]

pysnooper's output when calling myfunc:

[code]
The values of self.a, self.b, and self.c are not shown by pysnooper but are the primary purpose of this method.  parameters on self should also be shown as starting values in methods decorated by pysnooper

[2019-04-22 13:24] cool-RR commented on #6
Good idea, but: in the simple case, I don't want to include the file name
of the first file. So I'm not sure how this proposal could be implemented
given this restriction. Possibly include the file name in parentheses after
the line number when it isn't the original file.

On Mon, Apr 22, 2019, 16:21 Tony Rice <notifications@github.com> wrote:

[2019-04-22 13:26] rtphokie commented on #6
including filename should be the default behavior when the depth option is supplied.  To your point it doesn't need to be included in the simple case.

[2019-04-22 13:26] cool-RR commented on #7
That's what the `variables` argument is for.

Also, if the classes' `repr` uses these attributes, they'll show up even if
they aren't included in `variables` .

On Mon, Apr 22, 2019, 16:23 Tony Rice <notifications@github.com> wrote:

[2019-04-22 13:27] rtphokie commented on #7
But doesn't that defeat the purpose of this easy to use debugging decorator?  Having to specify which variables you want to be instrumented?

[2019-04-22 13:30] cool-RR commented on #7
It's true that specifying variables is annoying. However, if we tried to
guess all the attributes that might interest the user, we might have guess
too much, overcrowd the output, lose performance and cause exceptions.

On Mon, Apr 22, 2019, 16:27 Tony Rice <notifications@github.com> wrote:

[2019-04-22 13:31] cool-RR commented on #6
Okay, I agree. Feel free to submit a pull request.

On Mon, Apr 22, 2019, 16:26 Tony Rice <notifications@github.com> wrote:

[2019-04-22 13:58] Cruuncher commented on #5
Can't you just open the file with a different mode? 'w' instead of 'a'?

[2019-04-22 13:59] cool-RR commented on #5
No because I reopen on every write.

On Mon, Apr 22, 2019, 16:58 Patrick Robertshaw <notifications@github.com>
wrote:

[2019-04-22 16:50] zengxiaofei opened #9 "Feature request: Support generators"
For example:

[code]

Output:

[code]

[2019-04-22 16:56] cool-RR commented on #9
Correct. That would be a good feature to implement. Feel free to send a pull request!

[2019-04-22 17:27] zengxiaofei opened #10 "Feature request: support recursion, including with depth argument"
For example:

[code]

Output:

[code]

When setting `depth=2`, it even raised an error:

[code]

[2019-04-22 17:29] cool-RR commented on #10
Good feature request. Feel free to submit a pull request.

[2019-04-22 17:48] rtphokie opened #11 ""return" is misleading"
The last line of the output is labeled "return" which probably refers to exiting the function, but implies a value is being returned by the function even when no return line is explicitly included in the function.

[2019-04-22 18:18] cool-RR commented on #11
This is how Python represents a function ending internally, and it cannot be changed.

[2019-04-22 18:18] #11 closed

[2019-04-22 22:24] Vaelek opened #14 "Does not reliably show local variables"
[code]

results in

[code]

What determines not to acknowledge the assignment of test4, and is there any way to override it? This behavior basically renders this useless to me unfortunately.

[2019-04-23 03:11] chrahunt opened #15 "Comparison with python-hunter"
This has a lot of overlapping functionality with [python-hunter](https://github.com/ionelmc/python-hunter). Maybe the efforts of both projects can be combined?

[2019-04-23 06:22] zhouyanasd opened #16 "Feature request: Support Jupyter notebooks and IPython"
I think it can not support jupyter right now, but I hope it could be done lately.
[code]

[2019-04-23 06:23] deJQK opened #17 "Adding optional timing information"
Is that possible to add timing information for each step? Maybe use some timing wrapper?

[2019-04-23 06:24] cool-RR commented on #17
That's what the timestamp does at the beginning of each line.

On Tue, Apr 23, 2019 at 9:23 AM deJQK <notifications@github.com> wrote:

[2019-04-23 06:31] sarthak0415 opened #18 "Can it be used without actually installing on the system"
I do not have permission to do pip install on my enterprise machine, can this be used as a regular package?

[2019-04-23 07:00] chaoyue729 commented on #16
same issue

[2019-04-23 07:01] lodb opened #19 "Compatibility with awsebcli"
There are requirement incompatibilities with the `awsebcli` package from amazon. I'm not sure if this has an easy fix or pysnooper _really_ needs the specified versions of `future` and `six`:

`awsebcli 3.15.0 has requirement future<0.17.0,>=0.16.0, but you'll have future 0.17.1 which is incompatible.`
`awsebcli 3.15.0 has requirement six<1.12.0,>=1.11.0, but you'll have six 1.12.0 which is incomp

[2019-04-23 07:05] cool-RR commented on #19
I understand the problem. I don't think it's worthwhile to fix on PySnooper's end, because awsebcli is insisting on older versions, and other packages might insist on even older versions.

What you can do is install PySnooper manually by downloading and running `python setup.py install`. That'll likely work.

[2019-04-23 07:05] #19 closed

[2019-04-23 07:06] cool-RR commented on #18
Feature request: Script to pack PySnooper to single file, including all of its dependencies, so it could be copy-pasted into a machine without installing.

Feel free to work on this, @sarthak0415 .

[2019-04-23 07:07] cool-RR commented on #16
If someone were to write a test case for this and add it to the test suite, I might be tempted to try implementing a solution.

[2019-04-23 07:08] cool-RR commented on #15
Looks good. If you see any features of python-hunter you'd like, feel free to open separate issues / pull requests for them.

[2019-04-23 07:08] #15 closed

[2019-04-23 07:09] #17 closed

[2019-04-23 07:15] #14 closed

[2019-04-23 07:17] #7 closed

[2019-04-23 07:21] ouening opened #20 "pysnooper/tracer.py", line 75, in get_source_from_frame raise NotImplementedError"
When I ran a simple script:

[code]

The error happened:

[code]

[2019-04-23 07:55] Vaelek commented on #14
Thank you, that helped a little bit, but the fix pointed me to the correct spot to raise the number to a more suitable value for a 43" 4k display. I think this would be nice to be able to define either globally or per decorator. Even on my display, there will still be times the length is irrelevant even if it wraps. I feel this artificial limitation flies directly in the face of the tagline of thi

[2019-04-23 07:56] bittner commented on #18
If you can't run `pip install` globally on your machine you have two straight-forward options:

1. Clone this repository and run `python setup.py develop`. This strategy will always refer to your cloned source code (you can simply run `git pull` in the repo location to update to the latest version). ([Explanation](https://stackoverflow.com/questions/19048732/python-setup-py-develop-vs-install/1904

[2019-04-23 08:13] cool-RR commented on #14
I hear you. However, I wouldn't like to add another argument to `snoop` because this is too much of an edge case. So here's a compromise: I added a constant `MAX_VARIABLE_LENGTH` to `tracer.py` and anyone so inclined could monkeypatch it.

[2019-04-23 08:16] cool-RR commented on #20
I tried your example and it worked perfectly for me.

Could you please try this and tell me the output:

    import numpy
    print(numpy)

[2019-04-23 08:17] cool-RR opened #21 "Show variables in predictable order, possibly sorted dict (but no dependency)"

[2019-04-23 08:51] pLOPeGG commented on #20
Same bug here with the code provided in the readme:
[code]
And the related error:
[code]

[2019-04-23 08:56] cool-RR commented on #20
This isn't about the code, it's about your setup. Please see my previous comment and give me the output of that.

[2019-04-23 08:58] bittner opened #23 "Use Tox for running tests"
We should add a Tox configuration (`tox.ini`) to allow running all tests locally, and use `tox-travis` in the CI configuration to make the expansion automatic.

Here are a few examples to see how that's meant to work:

- https://github.com/vshn/concierge-cli
- https://github.com/bittner/pyclean
- https://github.com/mdgart/sentrylogs
- https://github.com/jazzband/django-analytical
- https://github.

[2019-04-23 09:00] pLOPeGG commented on #20
Here it goes:

[code]

[2019-04-23 09:03] cool-RR commented on #23
I was a bit reluctant to use tox because reading the travis-ci docs, I understand that it's a bit different than how Travis natively runs. Also running tox locally would require installing all Python versions locally, right? That sucks.

[2019-04-23 09:04] cool-RR commented on #20
Are the **** in the original, or did you censor your username?

[2019-04-23 09:05] pLOPeGG commented on #20
Oh yes it's just my username, containing ASCII caracters only. I did the same for `ENV`.

[2019-04-23 09:07] bittner opened #24 "Deploy using Travis when pushing a Git tag"
Instead of deploying from your local machine we should let Travis do the job of releasing new versions of this package. This has a few significant advantages:

1. What happens at releases is better documented with an audit trail (CI jobs log).
1. Releasing then enforces tagging on commits that are related to a release.
1. No software needs to be installed on your local machine for pushing a new re

[2019-04-23 09:08] cool-RR commented on #24
Agreed.

On Tue, Apr 23, 2019 at 12:07 PM Peter Bittner <notifications@github.com>
wrote:

[2019-04-23 09:09] kootenpv opened #25 "Suggestion: use ncurses to update values in place"

[2019-04-23 09:12] cool-RR commented on #20
Thanks. I could help with this, but it's going to be a bit difficult because it's related to your environment. If you're interested in doing some checks for me, that could help.

`tracer.py` has these lines:

    source = None
    if hasattr(loader, 'get_source'):
        try:
            source = loader.get_source(module_name)
        except ImportError:
            pass
        if source is not

[2019-04-23 09:12] cool-RR commented on #25
This sounds interesting, but I don't fully understand. Could you please elaborate?

[2019-04-23 09:13] bittner commented on #23
Running all tests locally has a significant advantage: You know what breaks before you push code. And it's faster.

Installing several Python versions locally is easy with [pyenv](https://github.com/pyenv/pyenv). This is a very popular software. Everyone who does package development that spans several Python versions should use it.

As an alternative to installing _all_ Python versions locally you

[2019-04-23 09:14] pLOPeGG commented on #20
Seems fine to me, I'm going to check this for you

[2019-04-23 09:15] cool-RR commented on #23
Okay. If you'll implement it, I'll merge it.

On Tue, Apr 23, 2019, 12:13 Peter Bittner <notifications@github.com> wrote:

[2019-04-23 09:15] kootenpv commented on #25
Sorry... I was doing a simple

[code]

And this will clutter your output.

If you would use `ncurses1, you could perhaps update the value in place. under the line.

[2019-04-23 09:18] cool-RR commented on #25
Ah, that would be more interactive, right? Not really a text dump, but something more like a GUI. I'm against it, this tool needs to stay simple.

[2019-04-23 09:18] #25 closed

[2019-04-23 09:24] pLOPeGG commented on #20
I added some log in the `tracer.py` file:

[code]

And indeed `hasattr(loader, 'get_source')` is `False`

[2019-04-23 09:26] cool-RR commented on #20
Good, now I want the exception from the file read.

On Tue, Apr 23, 2019 at 12:24 PM pLOPeGG <notifications@github.com> wrote:

[2019-04-23 09:32] pLOPeGG commented on #20
So the `str(error)` provides this:

`[Errno 22] Invalid argument: '<ipython-input-1-d9086aeb58cb>'`

What field do you want ?

[2019-04-23 09:33] am-zed opened #26 "pip install fails for missing requirements.txt"
PIP install fails with missing _requirements.txt_ file:

[code]

[code]

[2019-04-23 09:34] cool-RR commented on #20
Ah, I think I get it. Are you using PySnooper on code that you're typing in the interactive shell?

[2019-04-23 09:35] pLOPeGG commented on #20
Yes indeed I'm testing it on IPython, going to test without REPL

[2019-04-23 09:35] cool-RR commented on #26
@bittner I've also seen it happen on my computer, but I couldn't replicate it. Do you have an opinion on why this problem happens and how to prevent it?

[2019-04-23 09:47] lockwooddev commented on #23
@bittner You might as well use drone.io which can run the various versions inside docker.
Tox became obsolete for me after I discovered drone. For open source they offer https://cloud.drone.io/

[2019-04-23 09:48] am-zed commented on #26
You probably must check your pypi package and add the missing file.

A workaround is to use the github repo directly:

[code]

[2019-04-23 10:34] pohmelie opened #27 "add coroutines support"
Coroutines are first class citizens in python world.

[2019-04-23 10:39] cool-RR commented on #27
Sounds good, send a pull request.

On Tue, Apr 23, 2019, 13:34 Nikita Melentev <notifications@github.com>
wrote:

[2019-04-23 11:19] czietz opened #28 "Feature request: Print line containing actual function name for "call" event"
When the function decorator `@pysnooper.snoop()` is in a separate line, the "call" event will print that line instead of the one containing the actual function name. This can be seen in the example in README.md:
https://github.com/cool-RR/PySnooper/blob/master/README.md#example

While this is technically correct (for Python the function definition starts with the decorator), it would make traces e

[2019-04-23 11:22] bittner commented on #26
Adding the `MANIFEST.in` file I mentioned in #22 will probably fix this problem. The content of the file should probably look like this:

[code]

For background reading see the [related Python documentation](https://docs.python.org/3.7/distutils/sourcedist.html#specifying-the-files-to-distribute).

[2019-04-23 11:24] bittner commented on #23
This makes you dependent on Drone. It's your choice of course.

[2019-04-23 11:26] cool-RR commented on #23
I'm wary of depending on external services. Thanks for the suggestion anyway @lockwooddev , it's appreciated.

Tox is pretty mature. Peter, feel free to go ahead if you wish.

[2019-04-23 11:34] cool-RR commented on #26
Thanks Peter! I added a MANIFEST.in file now.

@am-zed If it happens again on >=0.0.11, please reopen this issue.

[2019-04-23 11:34] #26 closed

[2019-04-23 11:37] cool-RR commented on #28
Agreed. This seems to be a weakness in Python's introspection ability. I'll be happy to look at a pull request, except I'll need to be reasonably sure it won't backfire in other cases.

[2019-04-23 12:40] czietz commented on #28
Since Python syntax (https://docs.python.org/3/reference/compound_stmts.html#function-definitions) stipulates that each decorator must end with a new line and, therefore, the actual function name cannot be in the same line, it should be rather easy to skip decorator lines without accidentally skipping too much.

I'll send a pull request later today.

[2019-04-23 12:43] cool-RR commented on #28
Great, and I'll want tests too. (Feel free to amend the existing tests, if
you'll need help let me know.)

On Tue, Apr 23, 2019 at 3:40 PM Christian Zietz <notifications@github.com>
wrote:

[2019-04-23 14:55] YubinXie commented on #20
![3399428E-1CF4-478C-8B98-F0D6F083166A](https://user-images.githubusercontent.com/16257776/56591127-30482b00-65b6-11e9-9bdc-1406c8888a4c.png)

I have the same error in Mac OS using Jupyter lab.

[code]

[2019-04-23 16:04] AtlasSurfin opened #30 "[ERROR:bot] Exception in on_voice_state_update"
Hello,
sorry for asking but i have some issues with the code for my MusicBot.
I wanted to learn how to create custom commands for MusicBot so i tried
creating a simple command of reply (basically the concept is if you write "hi" the bot
should reply "Hi {user.name} !" ).
Considering that i didn't know how to code with Python, i tried looking on the web
and i was close to solving the issue myself.

[2019-04-23 16:29] cool-RR opened #32 "Feature request: Show the return value"

[2019-04-23 16:31] cool-RR commented on #20
Makes sense. Guys, if you want this to be fixed, I need you to find how to
get the code from an iPython shell or a Jupyter notebook. If it's possible,
send me the code and I could add that it to PySnooper.

On Tue, Apr 23, 2019 at 5:55 PM Yubin <notifications@github.com> wrote:

[2019-04-23 16:36] cool-RR commented on #30
This has nothing to do with PySnooper. You need to post on Stack Overflow or a Python mailing list.

[2019-04-23 16:36] #30 closed

[2019-04-23 17:19] AtlasSurfin commented on #30
i'm sorry, i am new and i don't know how to do that

Il mar 23 apr 2019 18:36 Ram Rachum <notifications@github.com> ha scritto:

[2019-04-23 21:32] 1138-4EB commented on #23
It is also possible to use official containers: https://hub.docker.com/_/python. On the one hand, it avoids installing different python versions on the host. On the other hand, the results you get locally are exactly the same as what the CI service (Travis) will produce.

The choice between Drone, Travis or any other CI service that is able to run docker containers is not relevant. The dependency

[2019-04-24 00:48] lt94 commented on #1
Hey, i'd like to work on this one,any good advice for me?

[2019-04-24 03:19] donghaW opened #34 "Feature request: Show the shape of numpy array"
Array's shape is more import than its' value when we debug.

[2019-04-24 06:26] bittner commented on #23
@lockwooddev @1138-4EB You're both right.

The main reason to prefer a Python technology before getting help with other technology is to both lower the barrier for Python developers and stick to common Python practices.

Using Docker is always a valid choice, nowadays, and it's good that you point out the possibilities. Thank you!

[2019-04-24 07:03] cool-RR commented on #1
Great!

I think this isn't too tricky, just find the color characters for the
shell, and use different colors for different parts of the output. If
there's anything I'd want to correct about your pull request, I'll tell
you.

On Wed, Apr 24, 2019 at 3:48 AM leetao <notifications@github.com> wrote:

[2019-04-24 07:04] cool-RR commented on #34
I agree, but this is a change in numpy, specifically the `__repr__` method of the array. Please open it there: https://github.com/numpy/numpy/issues and good luck convincing them.

[2019-04-24 07:04] #34 closed

[2019-04-24 07:21] wangzz313 commented on #20
jupyter-notebook can not work but other well..

[2019-04-24 09:15] #23 closed

[2019-04-24 09:15] monhz opened #35 "collections.ChainMap not support in Python2"
I am using  Python 2.7.13, when try to use pysnooper.snoop decorator, meet the AttributeError exception, the reason is `collections.ChainMap` is used in tracer.py, which is not supported in Python2.x.

code is here:
https://github.com/cool-RR/PySnooper/blob/master/pysnooper/tracer.py#L27

hoping PySnooper is fully compatible with python2

[2019-04-24 09:20] cool-RR commented on #35
This was a bug that I fixed. Run `pip install pysnooper --upgrade` and if it happens again, reopen this ticket.

[2019-04-24 09:20] #35 closed

[2019-04-24 09:50] lleontop commented on #32
I could start working on this issue if it is still up for grabs.

[2019-04-24 09:51] cool-RR commented on #32
Definitely. Go ahead.

[2019-04-24 09:54] #28 closed

[2019-04-24 10:04] iecaser opened #36 "simple for loop example fails"
[code]
In [10]: ---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-10-eed9d610c13b> in <module>
----> 1 import codecs, os;__pyfile = codecs.open('''/tmp/pybsaClo''', encoding='''utf-8''');__code = __pyfile.read().encode('''utf-8''');__pyfile$

/export/zxf/workspace/tmp/testsnoop.py i

[2019-04-24 10:05] iecaser commented on #36
But if I remove the decrator, it runs ok.

[2019-04-24 10:30] blargomat commented on #35
unfortunately even after upgrading via pip (tested it just now) i still got:

[code]

however this works in tracer.py but requires the chainmap pip package :/

    locals_and_globals = None
    if sys.version_info.major > 2:
        locals_and_globals = collections.ChainMap(frame.f_locals, frame.f_globals)
    else:
        from chainmap import ChainMap
        locals_and_globals = ChainMap(frame.

[2019-04-24 10:40] bittner commented on #24
You can now [update the Travis configuration](https://github.com/cool-RR/PySnooper/blob/master/.travis.yml#L45) with your encrypted PyPI password. You'll need the [travis CLI](https://docs.travis-ci.com/user/encryption-keys/) for this (I usually run a travis-cli Docker image, because the CLI is painful to install on my Ubuntu box). Afterwards pushing a Git tag will trigger a deployment on PyPI via

[2019-04-24 10:53] cool-RR opened #39 "Feature request: Test `pip install`"
@bittner , this is right up your alley so if you'll feel like doing it, it'll be cool.

It'll be nice if after every release, or after every push to master, there will be separate tests that do `pip install pysnooper` on all platforms and run the tests. This is to rule out any errors in the installation.

[2019-04-24 10:58] cool-RR commented on #35
I believe this was just fixed by #38 , please re-upgrade, try again and update here.

[2019-04-24 11:00] cool-RR commented on #20
Duplicate of #16

[2019-04-24 11:00] #20 closed

[2019-04-24 11:01] cool-RR commented on #36
Duplicate of #16

[2019-04-24 11:01] #36 closed

[2019-04-24 11:01] cool-RR commented on #16
Everyone: If you want this to be fixed, I need you to find how to get the code from an iPython shell or a Jupyter notebook. If it's possible, send me the code and I could add that it to PySnooper.

Also, adding a test case to the test suite would be helpful.

[2019-04-24 11:02] monhz commented on #35
`from ConfigParser import _Chainmap as ChainMap` works fine in 2.7.

[2019-04-24 11:27] blargomat commented on #35
Indeed, i upgraded again and now it works :>

[2019-04-24 12:27] #32 closed

[2019-04-24 12:39] cool-RR opened #41 "AUTHORS bot"
@bittner Here's another one you might like. I want the upkeep of the AUTHORS file to be automated, basically running:

    misc/generate_authors.py > AUTHORS

It would be cool to have a bot that automatically submits pull requests whenever the AUTHORS file is different than the one generated above (i.e. we just merged a new author.) Then I could approve that pull request with a click instead of ha

[2019-04-24 12:40] cool-RR commented on #41
Actually this could even be an open-source project in its own right, if you're looking for cool projects :)

[2019-04-24 12:56] lleontop commented on #41
@cool-RR It seems that there is something like this here (I have never used it though): https://allcontributors.org/docs/en/bot/overview that does exactly what you are describing :)

[2019-04-24 12:59] cool-RR commented on #41
Nice, if you believe it can be customized to output the exact format of my
simple script above into AUTHORS, I'll be happy to see a pull request for
adding this bot. (Probably a pull request for the configuration, and I'll
add the bot in the settings.)

On Wed, Apr 24, 2019 at 3:57 PM Loukas Leontopoulos <
notifications@github.com> wrote:

[2019-04-24 14:17] bittner commented on #41
Bots are en vogue. Let's reflect a bit, though, what the cases are where they're meant to be used:

* When there are **external circumstances** or events that infer change (e.g. updated package dependencies, security threats, customer decisions or missing activity)

In the case of authors on this very repository it is much simpler: We always have a, at least one, **event on this code base** that c

[2019-04-24 14:19] cool-RR commented on #41
I share the resentment for bots. However, your approach increases manual
work and frustration.

On Wed, Apr 24, 2019, 17:17 Peter Bittner <notifications@github.com> wrote:

[2019-04-24 14:53] YubinXie commented on #16
I'd like to help but I do not really understand what do you mean by the code from iPython shell? The input code for PySnooper is same as the example you provided. As for what is actually going on in iPython, any suggestion to get it out?

[2019-04-24 14:58] PetterS commented on #27
The code for this will be cleaner once only Python 3.5+ is supported.

[2019-04-24 15:09] cool-RR commented on #16
@YubinXie  The function `get_source_from_frame` attempts to extract the source from the frame object. This is easy with source that resides in files, but more difficult with interactive shells such as IPython and Jupyter because the frame wouldn't have a file name. You need to talk to the IPython and Jupyter and ask whether the source can be extracted from the shell.

[2019-04-24 15:10] cool-RR commented on #27
Yes, unfortunately a big use case for PySnooper is shitty legacy projects, so keeping Python 2.7 support is important.

[2019-04-24 15:19] bittner commented on #41
Well, software development is about frustration, learning and a few happy moments of success.

How about a solution that looks like this?

[code]

Does that sound like proper software development? Or more like frustration?

[2019-04-24 15:31] bittner commented on #39
Every Python environment created by Tox gets `pysnooper` installed. The workflow is roughly:

1. Create virtualenv for Python x.y (e.g. Python 3.7 for `py37`)
1. Run `python setup.py install` (i.e. install `pysnooper`)
1. Install the dependencies (from `deps = ...` in the Tox environment)
1. Run `pytest` (i.e. from `commands = ...`)

If I'm not completely mistaken `pip install pysnooper` does noth

[2019-04-24 15:40] bittner commented on #39
What is missing indeed is that tests are run on Windows and macOS. We've done this with PythonTurtle already, it's tedious but it's feasible, it's not magic.

And more tests, e.g. integration tests, are always a good idea. Sure!

[2019-04-24 15:49] cool-RR commented on #41
`tox -e authors` is a nice addition, I'd welcome it.

I want to clarify what I meant about frustration: I mean that people will try to submit pull request and have it fail because the AUTHORS file isn't updated, and they'll have to go back and update that. This hurts the greater goal of getting people to contribute, which is more important than keeping an updated AUTHORS file.

Also consider it mi

[2019-04-24 15:53] cool-RR commented on #39
Are you sure tox does `setup.py install`? Where is it written?

[2019-04-24 19:15] cool-RR commented on #16
I just pushed a fix that'll at least make PySnooper fail gracefully when it can't show the source. Now the task remains to get the code out of IPython or Jupyter.

[2019-04-24 19:29] cool-RR commented on #16
I implemented IPython support! Now just Jupyter support left.

[2019-04-24 19:29] cool-RR opened #43 "Add tests for IPython support"

[2019-04-24 19:36] cool-RR commented on #16
Oh awesome, looks like that fixed Jupyter as well :)

I made a separate task #43 to add testing for this feature. Any takers?

[2019-04-24 19:36] #16 closed

[2019-04-24 19:38] cool-RR commented on #20
@ouening @pLOPeGG @YubinXie  @wangzz313  PySnooper now works in Jupyter and IPython :)

[2019-04-24 19:38] cool-RR commented on #36
@iecaser PySnooper now works in Jupyter and IPython :)

[2019-04-24 19:40] YubinXie commented on #20
Confirmed. Thanks!

[2019-04-24 19:43] cool-RR opened #44 "Feature request: Support generators"
See the conversation on #31 .

[2019-04-24 22:52] pohmelie commented on #27
I have successfully patched pysnooper to support coroutines, looks neat, but requires 3.5+
[code]

[2019-04-25 00:11] wilfredinni opened #46 "Coverage/Codecov"
Meaby is a good idea to add test coverage to the project. I did it in a fork and right now there is just a 42% covered.

![Captura de Pantalla 2019-04-24 a la(s) 20 05 13](https://user-images.githubusercontent.com/23016174/56701299-5102a480-66cc-11e9-8b05-6b203df9ecc8.png)

[2019-04-25 01:31] ouening commented on #20
OS: Ubuntu 18.04
python:

@cool-RR I tried in ipython and qtconsole, it didn't work. Errors shows below:
[code]

And about the first problem, I ran the code in pyzo and didn't save the file before. When I saved the file it worked. It's strange!

[2019-04-25 06:25] cool-RR commented on #20
I think you forgot to upgrade PySnooper.

On Thu, Apr 25, 2019, 04:31 周文青 <notifications@github.com> wrote:

[2019-04-25 06:55] cool-RR commented on #27
Great work.

1. It's possible to make this not break Python 2 by executing code with
`exec`. I can do that so you can leave that to the end.
2. I want the tracer context manager to be acquired only when the coroutine
is active.
3. If you'd like to implement generator support on the way, that'd be nice.
Not mandatory.
4. I want tests for everything. (Again, feel free to ignore Python 2
support for

[2019-04-25 06:57] cool-RR commented on #46
Great work. @bittner How can we add this to our CI setup? (And hopefully with the HTML report that the coverage module generates.)

(I'd want to exclude third_party and include the tests package.)

[2019-04-25 07:06] lt94 commented on #1
I hava already fix this one,you can see my last commit [#1](https://github.com/cool-RR/PySnooper/compare/master...lt94:master), but got no idea about how to test color. would you mind giving me some help,thx~

[2019-04-25 07:11] cool-RR commented on #1
Great, can you submit a pull request to this repo? I tried making sense of your code but couldn't separate your commits from mine on your repo.

[2019-04-25 07:15] cool-RR commented on #24
I'm going to put this on hold. When the Travis builds broke yesterday when I made the __version__ change, I was completely helpless to fix them. I couldn't figure out how the .travis.yml and tox.ini files were dictating Travis's behavior. I had to try lots of different things and everything failed, so I bundled all the dependencies. I don't want to depend on Travis for releases because if it break

[2019-04-25 07:15] #24 closed

[2019-04-25 07:21] lt94 commented on #1
i made the pr~~O(∩_∩)O

[2019-04-25 07:59] pohmelie commented on #27
Ok, I will try.

[2019-04-25 08:07] 836304831 commented on #5
I feel this idea "Ability to overwrite to log file instead of only appending" is very nice, but after I clone the repo today, unfortunately,  I found this idea has not implemented.

[2019-04-25 08:09] cool-RR commented on #5
@836304831 feel free to submit a pull request

[2019-04-25 08:25] lleontop opened #48 "Dependencies on decorator and six"
Not much of an issue but just wondering if bundling external dependencies is just temporary or permanent? Isn't it kind of a bad practice to in-source external dependencies in terms of features/bug fixes/compatibility of these external modules and better come from PYPI directly?

[2019-04-25 08:26] 836304831 opened #49 "add a switch for this decorator"

[2019-04-25 08:30] cool-RR commented on #46
Ah shit, looks like the coverage results are misleading, and fixing them wouldn't be trivial. This is because the `coverage` module uses `sys.settrace` to install a trace function, as does PySnooper. Therefore any lines that are run under PySnooper's tracer are excluded from the coverage report.

Perhaps it's possible to get our tracer to also run the coverage tracer?

@nedbat Is there a way to ma

[2019-04-25 08:30] cool-RR commented on #49
More details please.

[2019-04-25 08:32] cool-RR commented on #48
It's kind of a bad practice, but:

1. It prevents all kinds of problems that happen because of poor packaging
infrastructure. Django made a similar choice in the past.
2. We have only 2 dependencies. We could even cut down on `six` if we
wanted, we only use a small portion of it.
3. We're not likely to need any updates on our 2 dependencies in the next 5
years. They are very mature modules.

On Th

[2019-04-25 08:35] 836304831 commented on #49
maybe add a switch for this decorator will be better.
We develop a project has two model: development environment and production environment，generally speaking，we want to this decorator works for dev environment, not production environment. if add a switch,  we can close this decorator in production environment and not comment the decorator.

like this:
def snoop(output=None, variables=(), depth=1

[2019-04-25 08:38] cool-RR commented on #49
I'm against that. Changing to `switch=False` is about as easy as commenting out or removing the decorator, and the latter is much clearer. This is a tool for debugging, not meant to be checked into Git or used in production.

[2019-04-25 08:43] 836304831 commented on #49
I need remove the decorotor befor deploy my project to production environment if I use this decorator for debugging, this process need to modify code(maybe just remove the decorator), maybe It will bring out unpredictable errors or exceptions.

[2019-04-25 08:45] cool-RR commented on #49
It's normal that you'd remove the decorator before deploying to production.

[2019-04-25 08:48] 836304831 commented on #49
ok, thanks.

[2019-04-25 08:49] #49 closed

[2019-04-25 08:58] lleontop commented on #48
Still kind of sceptical about it since most mature modules have good packaging and as I could see Django now has install dependencies not bundled (pytz and sqlparse) and we might need to have more dependencies in the future (and we will need to add the dependency and the dependency dependencies code) but as I said it's ok not a real issue right now, we can revisit this if it is required.

[2019-04-25 09:20] lleontop commented on #48
Also the travis error seems to be the order and the scope of imports to get the version. It seems that during install it needs to get the version and to do that it also imports pysnooper.py that needs decorator but pip hasn't installed any dependecies yet. I can have a look at it and possibly change the order and scope of imports if you think it would be beneficial

[2019-04-25 09:23] cool-RR commented on #48
You could, but these problems happen and they'll continue to happen in different ways. I know it's a backwards kind of solution, but removing all dependencies lets me spend less time with these problems.

[2019-04-25 09:43] nedbat commented on #46
In theory it isn't hard: when you set your trace function, first use sys.gettrace to get the current trace function. In your function, call that one.  There will still be gaps: the lines literally in your trace function will not be traced.  I have the same problem trying to coverage-measure coverage.py.

[2019-04-25 09:49] cool-RR commented on #46
@nedbat I tried that, and indeed had the problem of lines in my trace functions not getting traced. Of course, that's where all my critical lines are that I want to have coverage for.

I'm thinking about writing a PEP for this. I know this has been a long-time problem for people who write development tools, and I've asked my friends at Wingware how they're dealing with it. Imagine trying to develo

[2019-04-25 10:00] nedbat commented on #46
I don't know what monsters await in trying to implement something like that.  A different approach that I have considered is to unit-test my tracing code by calling it myself.  That is, I have an idea how my trace() function should behave.  I should be able to write tests that emulate Python calling it, and see if it does what I want.

The difficulty there is accurately emulating Python, especiall

[2019-04-25 10:09] cool-RR commented on #46
Thanks Ned!

[2019-04-25 11:03] bittner commented on #48
As I commented on commit 5c31dfc28c283b732296e6c09f64ce8e6d395687, `__init__.py` shouldn't do anything but define attributes. Problems with importing the package to install in `setup.py` are typically related to import issue (circular imports, import of dependencies not present or similar).

That's why importing your own package in `setup.py` tends to be discouraged in popular speech, but really t

[2019-04-25 11:11] bittner commented on #46
Simply

- add a `[testenv:coverage]` section to [tox.ini](https://github.com/cool-RR/PySnooper/blob/master/tox.ini) with the appropriate commands,
- add `coverage` to the `envlist` in the `[tox]` section and
- include it in the list of jobs in [.travis.yml](https://github.com/cool-RR/PySnooper/blob/master/.travis.yml#L30-L35).

Without a dependency on an external service (e.g. Coveralls) this will

[2019-04-25 11:22] bittner commented on #39
You may want to take a look at the Tox [System Overview](https://tox.readthedocs.io/en/latest/index.html#system-overview) and the related explanations in the Tox documentation.

[2019-04-25 11:51] bittner commented on #41
An appropriate command to extract the authors information from the repository would be:

[code]

This wouldn't work on Windows, though, I guess. Any thoughts?

[2019-04-25 11:55] cool-RR commented on #48
I disagree, sorry.

[2019-04-25 11:55] #48 closed

[2019-04-25 11:56] cool-RR commented on #46
Thanks. I think that until we can get a sensible result for coverage (i.e. inside the tracer), there isn't much point in doing that. If anyone's interested in working on it, go ahead.

[2019-04-25 12:03] cool-RR commented on #39
Okay, thanks. I'd still welcome a direct test of `pip install pysnooper`. Low priority.

[2019-04-25 12:04] cool-RR commented on #41
Works for me on Windows with Bash, but I don't like it because it doesn't
give the order that I want.

On Thu, Apr 25, 2019 at 2:51 PM Peter Bittner <notifications@github.com>
wrote:

[2019-04-26 01:35] zhangjiabin1010 opened #57 "Feature request: Show type of variable"
Thanks to the author's contribution, there is also a suggestion to output the type of each variable.

[2019-04-26 03:01] cool-RR commented on #57
Nah, mostly useless information that'll clutter up the screen.

Also, please use English when communicating here.

[2019-04-26 03:01] #57 closed

[2019-04-26 03:09] cool-RR opened #58 "Feature request: Allow entering just a single variable in` variable` without tuple notation"

[2019-04-26 03:25] cool-RR opened #59 "Feature request: Add `exploding_variables` argument"
Any exploding variable will not only be tracked, but all its attributes will be tracked too.

[2019-04-26 07:59] Martin9527 commented on #27
so,what about now?do we support coroutines in python 2.7?

[2019-04-26 08:42] cool-RR commented on #27
@Martin9527 There are no native coroutines in Python 2.7, just generators which can be used as coroutines.

[2019-04-26 09:26] yunzhishusha opened #61 "can't get values of my class variables"
I was trying to inspect some variables of my class objects, and I wrote a test script, but didn't get any value of them. Does your tool support such kind of situation? or is there way I can walk around this without using 'print' function?

[code]

here is the result:
[code]

[2019-04-26 09:26] Martin9527 commented on #27
yeah，we defined coroutines based on generators，so can this tools support for generators？

[2019-04-26 09:39] cool-RR commented on #27
Right now it doesn't support generators, but I'd welcome a pull request that'd support generators, or preferably combine it in this pull request.

[2019-04-26 09:50] cool-RR commented on #58
Done by Alex.

[2019-04-26 09:50] #58 closed

[2019-04-26 09:50] cool-RR commented on #61
Fixed, please upgrade and retry.

[2019-04-26 09:50] #61 closed

[2019-04-26 14:42] jmanz1111 opened #63 "Feature request: Support for jupyterlab"
Thanks for providing support for Ipython and Jupyter.  Could you also provide support for jupyterlab?  Seems like the same issue is still occurring there:

[error msg.txt](https://github.com/cool-RR/PySnooper/files/3121749/error.msg.txt)

[2019-04-26 14:46] cool-RR commented on #63
You're using an old version of PySnooper. Please upgrade and report back.

On Fri, Apr 26, 2019, 17:42 jmanz1111 <notifications@github.com> wrote:

[2019-04-26 14:57] jmanz1111 commented on #63
Yep, upgrading to 0.0.22 did the trick. Apologize about the false positive. Thanks!

[2019-04-26 14:57] #63 closed

[2019-04-27 07:19] cool-RR commented on #1
This PR is up for grabs again. It's a good one, I hope someone takes it.

[2019-04-27 07:34] cool-RR commented on #44
@pohmelie Want to assign this to yourself, since you've got a PR on this?

[2019-04-27 07:36] #21 closed

[2019-04-27 07:36] #5 closed

[2019-04-27 10:12] pohmelie commented on #44
Sure

[2019-04-27 12:27] enadol commented on #39
On Ubuntu/Raspbian, pip install pysnooper shoots the following:

pi@raspberrypi:~ $ pip3 install pysnooper
Downloading/unpacking pysnooper
  Downloading PySnooper-0.0.22-py2.py3-none-any.whl
Installing collected packages: pysnooper
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options

[2019-04-27 12:31] cool-RR commented on #39
@enadol :

1. Please move this to a new issue.
2. Please confirm that you can install other packages via pip, and show the output

[2019-04-27 12:34] rtphokie opened #67 "Bug when outputting special characters to shell"
Noticed this error while snooping on a function that handles Unicode strings, pysnooper seems unhappy about the degree symbol here:

  File "weather.py", line 390, in graphic_single
    'location 1': u"%dºC / %dºF" % (round(data[sol]['max_temp']),
  File "/Users/userid/Library/Python/2.7/lib/python/site-packages/pysnooper/tracer.py", line 184, in trace
    '{frame.f_lineno:4} {source_line}'.format

[2019-04-27 12:36] cool-RR commented on #67
I think this isn't about PySnooper and unicode, it's about your shell not supporting the unicode characters. Please give a full reproduceable example.

[2019-04-27 12:37] cool-RR commented on #67
Also, your Python version.

[2019-04-27 12:39] enadol commented on #39
On a Windows machine with Anaconda, pip install pysnooper worked just fine:

![image](https://user-images.githubusercontent.com/5300289/56849808-d4550d80-68f9-11e9-89c4-8e011c3b395d.png)

I posted these messages in response to the request of testing pip install pysnooper. I wasn't trying to report the issue in Ubuntu per se. Sorry of it bothered.

[2019-04-27 13:26] bittner commented on #39
@enadol: This behavior is normal on any GNU/Linux system.

The error says, you - user `pi` - are not allowed to write in areas that require elevated privileges (read: administrator access, i.e. root). Note that this is fine, it makes it more difficult for attackers that manage to enter your Raspberry Pi via an unprivileged account to do harm to your machine.

On Windows you may be used to work wit

[2019-04-27 14:06] enadol commented on #39
Great! Thanks a lot! Cheers!

[2019-04-27 18:06] alexmojaki opened #69 "Allow @snoop without parentheses"
I think it would be good to allow:

[code]

Instead of requiring

[code]

Any objections? I'm happy to do this.

[2019-04-27 18:08] cool-RR commented on #69
It's cute. I guess you'll have to bring back the parentheses if you'll want arguments. As long as the code isn't too ugly, go ahead. I also hope it would interact gracefully with #65, once that's done.

[2019-04-28 02:43] robertding opened #70 "不是很懂你们，是没用过IDE么"

[2019-04-28 04:54] cool-RR commented on #70
Ah yes, 不是很懂你们, of course! how didn't I think about that before!

[2019-04-28 04:54] #70 closed

[2019-04-28 11:44] alexmojaki opened #73 "Adding to list may not trigger modified var line"
Example script:

[code]

Output:

[code]

Partway through `x` seems to stop changing and the user might be misled into thinking it has, which could be a serious problem when trying to figure out a bug. Here it's obvious but in a more complex script it may not be.

Or suppose the user is building up a list of strings to make a document and does this:

    lines += doc.get_footer()

where `get_foote

[2019-04-28 11:50] cool-RR commented on #73
Good catch. Unfortunately I can't think of a good solution. So unless you have one, I suggest you close this bug and users will just have to deal.

[2019-04-28 12:27] alexmojaki commented on #73
You can override `_repr_iterable`. It's not that hard and someone can do it, but I've had enough here.

Of course it's solved in #68.

[2019-04-28 12:28] #73 closed

[2019-04-28 12:39] alexmojaki commented on #73
Why close it? It's a bug, and someone else willing to contribute can solve it.

[2019-04-28 12:41] cool-RR commented on #73
Because currently there isn't a solution that's better than the problem,
and we have no evidence that real-world users will experience this problem.

On Sun, Apr 28, 2019, 15:39 Alex Hall <notifications@github.com> wrote:

[2019-04-28 12:43] alexmojaki commented on #73
I don't know what this means.

[2019-04-28 12:44] cool-RR commented on #73
It means that a solution could cause a problem that's worse than the
original problem.

On Sun, Apr 28, 2019, 15:43 Alex Hall <notifications@github.com> wrote:

[2019-04-28 17:07] runxel opened #75 "Runtime error (IronPython)"
I get the following runtime error with the demo code provided in the readme:
[code]
(line 20 calls the "number_to_bits" function)

[2019-04-28 17:13] cool-RR commented on #75
Please specify iron python version

On Sun, Apr 28, 2019, 20:07 Lucas Becker <notifications@github.com> wrote:

[2019-04-28 18:50] runxel commented on #75
@cool-RR

[2019-04-28 19:01] cool-RR commented on #75
Which version of PySnooper?

[2019-04-28 19:10] runxel commented on #75
Downloaded from Github 4 days ago.

[2019-04-28 19:11] cool-RR commented on #75
Give me the version number, use `pip freeze`

On Sun, Apr 28, 2019, 22:10 Lucas Becker <notifications@github.com> wrote:

[2019-04-28 19:19] runxel commented on #75
Ah, I didn't use pip. Basically because you can't use pip for that.
When using Grasshopper (part of the NURBS modeling software Rhino) you have to manually download and reference any third-party modules one would like to use.

[2019-04-28 19:29] cool-RR commented on #75
I believe I fixed it. Try the new release and please report back.

@bittner It won't be easy to set up Travis to test on IronPython, right?

[2019-04-28 20:18] runxel commented on #75
Interestingly it now says illegal char in path.... 🤔
[code]

[2019-04-28 20:19] alexmojaki commented on #75
@cool-RR if you're going to chase this, it might save you time not to release a version at each iteration, since @runxel is installing from GitHub anyway.

[2019-04-28 20:29] runxel commented on #75
True, I will just clone it :)

Thank you very much already for looking into this crude edge cases!

[2019-04-28 22:58] Mark-Jung commented on #1
I'll give it a shot.

[2019-04-29 00:51] bittner commented on #75
IronPython is Windows, and Windows environments are not provided by Travis. We can do AppVeyor, though. Just like with PythonTurtle.

[2019-04-29 03:58] cc20101001 commented on #67
I had the same problem before in python2.7 before，give a full reproduceable example，let me try it，thanks

[2019-04-29 04:00] awarecheetah commented on #39
Does anyone mind if I pick this one up?  It seems like a good first issue to tackle for new contributors.

[2019-04-29 04:59] cool-RR commented on #39
It's a difficult one. But go ahead.

On Mon, Apr 29, 2019, 07:00 Brian Thompson <notifications@github.com> wrote:

[2019-04-29 05:03] cool-RR commented on #75
@bittner there's mono for Linux though, isn't there?

On Mon, Apr 29, 2019, 03:51 Peter Bittner <notifications@github.com> wrote:

[2019-04-29 05:04] cool-RR commented on #75
@runxel could you fetch the path that includes the illegal path? Like put a
print statement just before the line that fails?

On Sun, Apr 28, 2019, 23:29 Lucas Becker <notifications@github.com> wrote:

[2019-04-29 06:46] bittner commented on #75
LOL  :rofl:

[2019-04-29 06:50] cool-RR commented on #75
Haha yeah, the irony is not lost on me :)

And also:
https://mail.python.org/pipermail/python-ideas/2019-April/056443.html

If anyone's interested, it'll be cool to write a PEP for this.

On Mon, Apr 29, 2019 at 9:46 AM Peter Bittner <notifications@github.com>
wrote:

[2019-04-29 09:17] runxel commented on #75
So, what baffles me is that I am completely lost _what path_ it's talking about.
Also looking into your code gives me no hints to **what** to print.
(Or can I somehow insert something like `print` into your code, and get that output?)

[2019-04-29 17:30] cool-RR commented on #75
@runxel See the line `with open(file_name, 'rb') as fp:` ? The `file_name` argument probably has an illegal character or something. Add a line just before that line to print `file_name`, or write it to a file.

[2019-04-29 18:22] runxel commented on #75
Ach, totally forgot I could write to a file – my bad!
So using `file.write(file_name)` I obtained this content:
`<string><string>`
This is literally the whole text file. 😨

[2019-04-29 18:46] awarecheetah commented on #39
With the existing automation that's already in place with tox and travis, I think the solution was easier to implement than originally thought--unless I'm missing something?

[2019-04-30 14:14] cool-RR commented on #75
I'm trying to reproduce this, but I'm not getting the `ArgumentException` that you're getting. I didn't even know it existed. Can you catch it as `e` and then print more information about it, especially `e.mro()`?

[2019-04-30 17:01] runxel commented on #75
Now that was a fun story:
To actually catch the ArgumentException I had to say
[code]
And by that alone the error was gone!
Which actually makes pretty much sense. You have **2** `if source is None` there. We are in the first `if` and in it there we get into the `else` condition – We can never reach the second `if source is None`.
It then tries to write to a file with a path which is nonexisting a

[2019-04-30 17:06] cool-RR commented on #75
I think you're making a couple of mistakes there. Yes, I know we have to catch more than `OSError` and `IOError`, the question is what is that error, because `ArgumentException` is not a Python error.

Please try adding `ValueError` to the `except` clause at line 112 and tell me whether that solves your problem.

[2019-04-30 17:12] runxel commented on #75
Right, there is no `ArgumentException`; I guess it comes from C# since Rhino/Grasshopper boils down to this in the end.
Yes, `ValueError` will do the job!

[2019-04-30 17:30] cool-RR commented on #75
Great, I released a new version, please try it and update here.

On Tue, Apr 30, 2019 at 8:12 PM Lucas Becker <notifications@github.com>
wrote:

[2019-04-30 17:36] runxel commented on #75
Works gracefully!
Thank you so much :)

[2019-04-30 17:36] #75 closed

[2019-04-30 17:39] cool-RR commented on #75
Awesome, this was a fun bug :)

There should also be an open bug on IronPython for raising `ValueError`,
but I'm gonna let the universe handle that one :D

On Tue, Apr 30, 2019 at 8:36 PM Lucas Becker <notifications@github.com>
wrote:

[2019-05-02 03:37] cc20101001 commented on #67
d = "s*&F.。、]}】df"

i find the problem

in python2.7，Sometimes format not easy to use than %

use % replace format can resolve the problem

[2019-05-02 04:25] cool-RR commented on #67
I reject #77. I won't change my string formatting method without proof that it's the cause of the problem. I'm waiting for a full reproducible example.

[2019-05-02 06:11] cc20101001 commented on #67
# coding=utf-8
from pysnooper import pysnooper

@pysnooper.snoop()
def test_format():
    d = "s*&F.。、]}】df"
    return d

test_format()

# you can try it in python2.7

[2019-05-02 06:18] alexmojaki commented on #67
I think it makes sense to add the `u` prefix as you've done in #77. I think you're confusing everyone by talking about the `.format` method and `%`, which is unrelated.

[2019-05-02 06:21] cc20101001 commented on #67
i'm sorry

i'm sorry

[2019-05-02 06:21] cool-RR commented on #67
I was able to replicate the problem on my machine, thank you @cc20101001 . I'll give it a think.

[2019-05-02 12:58] sungreong opened #78 "IndexError: list index out of range in Class method"
![image](https://user-images.githubusercontent.com/22166391/57076742-4c219e80-6d25-11e9-8b2d-4c5b2fb8bca6.png)
![image](https://user-images.githubusercontent.com/22166391/57076768-593e8d80-6d25-11e9-8d9a-50db368aff22.png)

i have some issue in class method.

[2019-05-02 13:05] #78 closed

[2019-05-02 13:05] sungreong commented on #78
Sorry it's working

[2019-05-02 17:37] codexetreme commented on #46
Hey guys, I have just discovered this project and I gotta say I love it :) ... Can I help out by adding some tests and/or setting up CI/CD?? I will need some guidance regarding what are the end goals of this issue

[2019-05-02 17:57] zzzeek opened #79 "add support for thread identifiers"
pysnooper is amazing for the case where we are trying to see where threads are waiting on things.    If I can get the thread identifier in the output as an option, that makes this great.  Here's a hack that makes it work at the moment:

[code]

[2019-05-02 18:06] zzzeek opened #80 "allow arbitrary callables, perhaps io / file objects, Python loggers for writers"
Looking at https://github.com/cool-RR/PySnooper/blob/master/pysnooper/pysnooper.py#L13 I see our choices for "writier" are, stdout, path to a filename and something called "WritableStream"  .   In our case we have an application that's running under mod_wsgi, so we want to go to a logger.      Since PySnooper's great talent is being able to get deep into a huge stack without any hassle, being able

[2019-05-02 18:06] zzzeek commented on #80
I can PR these things if you are OK with it.

[2019-05-02 18:09] cool-RR commented on #80
Allowing a callable is a great idea. Don't forget tests on your PR.

On Thu, May 2, 2019, 21:06 mike bayer <notifications@github.com> wrote:

[2019-05-02 18:13] cool-RR commented on #79
Sounds good. If you're interested, write a PR with a Boolean argument to
snoop, and tests. Ensure you've got padding on the thread ID to keep the
columns good.

On Thu, May 2, 2019, 20:58 mike bayer <notifications@github.com> wrote:

[2019-05-02 18:17] alexmojaki commented on #80
To clarify, a `WritableStream` is literally any class with a 'write' method, so it's easy right now to send the output anywhere. But I agree allowing any callable will be convenient, which should be the aim of the library.

[2019-05-02 18:20] zzzeek commented on #80
right I just realized that's what the ABC-ness of it does, so that is better.

[2019-05-02 18:20] cool-RR commented on #46
This issue specifically is very difficult because of the difficulty of
tracing tracers. Unless you're willing to jump into CPython's core and
modify it to support multi level tracing.

I suggest you take a look at the other issues, there's much more accessible
work there. Feel free to pick one. Or more :)

On Thu, May 2, 2019, 20:38 Yashodhan Ghadge <notifications@github.com>
wrote:

[2019-05-02 18:21] cool-RR commented on #80
Mike, your idea is still good.

On Thu, May 2, 2019, 21:20 mike bayer <notifications@github.com> wrote:

[2019-05-02 18:25] alexmojaki commented on #79
Perhaps it would be better to allow passing a callable (e.g. `threading.ident`) to `prefix`. More flexible, doesn't increase the number of parameters.

[2019-05-02 18:31] cool-RR commented on #79
It's a bit hacky in my opinion. Also they'd have to write the padding logic
themselves.

[2019-05-02 18:35] alexmojaki commented on #79
Why? Just use `prefix = self.prefix().strip() + ' '`.

[2019-05-02 18:35] codexetreme commented on #6
Can I work on this? seems simple enough for me to start and work with you guys :)

[2019-05-02 18:38] cool-RR commented on #79
The point with padding is to have a consistent width even if the length of
the data changes, to keep the columns lined up.

On Thu, May 2, 2019 at 9:35 PM Alex Hall <notifications@github.com> wrote:

[2019-05-02 18:39] cool-RR commented on #9
Duplicate of #44

[2019-05-02 18:39] #9 closed

[2019-05-02 18:40] cool-RR commented on #6
It's cute. Personally, I don't feel it's a big value for investment. #69, #44 and #1 would be better. But if you feel like taking this one, that's welcome too.

[2019-05-02 18:42] codexetreme commented on #6
ok, I will try this, get my feet wet with the code and then tackle the ones you mentioned.

[2019-05-02 18:52] #67 closed

[2019-05-02 19:07] alexmojaki commented on #79
Sorry, wasn't thinking straight.

`get_ident()` just returns a number, which is not very useful to humans. We'd probably want to include the name of the current thread too.

[2019-05-02 21:01] AtHeartEngineer commented on #1
What about doing this with pycolorama? @Mark-Jung lemme know if you want help, definitely looking forward to this PR.

[2019-05-02 21:07] Mark-Jung commented on #1
I haven't looked into this yet, but I will asap. Have been swamped with work this week.

[2019-05-03 02:32] pchc2005 opened #82 "Support for printing prettier with pandas.DataFrame"
The DataFrame will now be printed like..
[code]

Would be nice if any pretty print feature for lists/iterators...

[2019-05-03 06:42] alexmojaki commented on #82
My solution to this would be #68 plus not replacing newlines.

[2019-05-03 06:46] alexmojaki commented on #1
Before jumping into a PR with colorama you should be aware that there is a reluctance here to use any dependencies, see #48 and #68

[2019-05-03 08:59] cool-RR commented on #1
@AtHeartEngineer : Alex is correct, I prefer to avoid dependencies for this project.

[2019-05-03 09:10] cool-RR commented on #82
Good point. But I still object to #68 on the same grounds.

@pchc2005 This is a problem, but I can't see a solution that I like. Looks like the pandas authors chose to use a non-practical `__repr__` and I can't special-case every library that chooses to do that. You can open a PR for pandas to change their `__repr__` to a one-line format, and show the detailed output on a dedicated method.

[2019-05-03 09:10] #82 closed

[2019-05-03 10:42] andreasvc opened #83 "Suggestion: "pydoc pysnooper" should show how to use this"

[2019-05-03 11:01] cool-RR commented on #83
Can anyone explain what would be needed and what the benefits would be?

[2019-05-03 11:18] andreasvc commented on #83
The benefit is that "pydoc" gives ... documentation. It's as simple as adding a docstring in __init__.py.

[2019-05-03 11:20] cool-RR commented on #83
Like, documentation that you'd have hosted on ReadTheDocs? I don't see the big advantage. PySnooper is very simple and all the documentation fits in the readme, maybe we'll make another text file for advanced usage but that's it.

[2019-05-03 11:38] andreasvc commented on #83
No, the usage instructions from the readme would be enough.
The advantage is that docstrings can be read by pydoc, ipython, jupyter,
etc. Makes documentation more easily discoverable because you don't have
to open a web browser and search.

[2019-05-03 11:39] cool-RR commented on #83
Okay, cool. Feel free to submit a PR. Just a few lines and a link to the
readme for the rest. (I don't want to have to update the docstring too
often.)

On Fri, May 3, 2019 at 2:38 PM Andreas van Cranenburgh <
notifications@github.com> wrote:

[2019-05-03 12:25] alexmojaki commented on #82
As an unofficial solution, you can do some monkey patching:

[code]

Then use as normal, e.g.:

[code]

Output:

[code]

[2019-05-03 15:24] #80 closed

[2019-05-03 15:47] #59 closed

[2019-05-03 16:02] cool-RR opened #84 "Improve "Advanced Usage" in readme"
The "Advanced Usage" section in the readme is really unclear.

We need an example of `watch_explode`, and separately an example of one of the special Variable classes.

[2019-05-03 16:03] cool-RR commented on #84
@alexmojaki You can take this if you're interested.

[2019-05-03 16:37] alexmojaki commented on #84
I think you'll need to explain what's unclear. `watch_explode` isn't meant to be covered in Advanced Usage, the explanation is under Features:

which is intentionally very concise, and should be sufficient. If it's not, that needs to be addressed. Beyond that, my thinking then is that people will:

1. Try to use `watch_explode` with a string
2. Hit a problem, e.g. the wrong kind of expansion or to

[2019-05-03 16:53] cool-RR commented on #84
It's okay that the instructions section has just one sentence about `watch_explode` (also I'd stress that the attributes/items are shown *separately*, which is really the thing that makes it different,) but I think that the Advanced Usage part should have an example, because it's not easy to understand.

[2019-05-03 17:12] alexmojaki commented on #84
There is an example. Do you mean a full script and its output?

[2019-05-03 17:15] cool-RR commented on #84
Not a full script and output, but just 2-3 lines of output of the attributes/indices. Otherwise lots of people will have no idea what this does.

[2019-05-03 17:22] alexmojaki commented on #84
I suggest you go ahead and do this because I'm really not getting your vision and talking about it isn't working.

[2019-05-03 18:44] #84 closed

[2019-05-03 18:50] cool-RR opened #88 "Feature request: Remove parentheses from exploded variables when possible"
This can be done with a regex for most cases, because mostly people will just use plain variables.

[2019-05-03 18:51] alexmojaki commented on #88
I'll do this, I know how to do it for all cases.

[2019-05-03 18:53] alexmojaki opened #89 "Repeatedly opening a file is very slow"
This:

[code]

is about 10 times faster than this:

[code]

[2019-05-03 18:54] alexmojaki commented on #89
I'm willing to tackle this, will do some refactoring along the way.

[2019-05-03 18:55] cool-RR commented on #89
I don't think it's a meaningful concern. These "10 times faster"
comparisons seem impressing, but 10K lines is a lot of lines, and I bet it
still ran pretty fast.

On Fri, May 3, 2019 at 9:54 PM Alex Hall <notifications@github.com> wrote:

[2019-05-03 18:56] cool-RR commented on #89
Also consider that keeping the file open can be a problem if it's a log
files that others also write to.

On Fri, May 3, 2019 at 9:55 PM Ram Rachum <ram@rachum.com> wrote:

[2019-05-03 19:08] alexmojaki commented on #89
No one is going to read all those lines, but they might still output that many even if they're just interested in what's at the end or the beginning. After all, the idea is to just slap on a decorator without any effort such as splitting up a function. Or they might be grepping for something.

It was about 6 seconds vs 0.6 seconds. Of course it could be much longer, especially if the loop contains

[2019-05-03 19:11] cool-RR commented on #89
I prefer to keep opening the file every time.

On Fri, May 3, 2019, 22:08 Alex Hall <notifications@github.com> wrote:

[2019-05-03 19:27] #89 closed

[2019-05-03 19:43] wilfredinni opened #92 "Feature request: Add the execution time"
I don't know if this would be useful for someone else besides me. If not, just close it. Thank you!

[2019-05-03 19:46] cool-RR commented on #92
Nah, I'm against it. Thanks for the suggestion though!

[2019-05-03 19:46] #92 closed

[2019-05-04 03:00] wendingp opened #93 "Log highlighting format with IntelliJ/Pycharm ideolog"
![image](https://user-images.githubusercontent.com/17057603/57173023-167ed180-6e5b-11e9-8863-8e60c44862fd.png)
I saved the log into a .log file. IntelliJ ideolog suggests "log format not recognized" and need to configure log format pattern for better highlighting. Is it possible to make it highlighted better in IntelliJ/Pycharm with ideolog plugin?

[2019-05-04 06:36] #83 closed

[2019-05-04 07:01] ysw361564483 opened #94 "Show the shape of numpy array & tensorflow Tensor"
Is there any solution to show the variable shape directly?

[2019-05-04 07:03] cool-RR commented on #94
Maybe you can make your own function `show` and then pass `watch='show(my_array)'` to PySnooper. Other than that I don't want to add special cases.

[2019-05-04 07:28] alexmojaki commented on #94
`watch='arr.shape'` should work.

[2019-05-04 08:59] alexmojaki opened #95 "Exception on overwrite=True seems harsh"
Talking about this:

[code]

I agree with this kind of check in more 'serious' code intended for production. It ensures that the user understands what they're doing.

But in this case it's harmless and the user will only be annoyed by the exception if, say, they decide to go from writing to a file back to stderr and forget to delete the argument. I don't think anyone is going to think they can ove

[2019-05-04 09:09] cool-RR commented on #95
I disagree on both counts. This is really an edge case and not worth making
a change.

On Sat, May 4, 2019 at 11:59 AM Alex Hall <notifications@github.com> wrote:

[2019-05-04 09:43] #95 closed

[2019-05-05 03:58] guanw opened #98 "Support for Other Languages"
Hi, folks. This project looks very helpful to people who are new to programming. Just want to say Great job and I'm curious have you thought about doing similar stuff for other languages? In particular I'm thinking of golang.

I notice golang has some really good metrics and profiling method but in terms of exposing variable valuesi don't think there's any existing tool.(I notice there's `runtime`

[2019-05-05 04:26] cool-RR commented on #98
Thanks!

Because this tool is so reliant on the tooling given by Python
(sys.settrace), any tool for a different language will be so radically
different that it should definitely be a completely separate project. Feel
free to start one :)

On Sun, May 5, 2019 at 6:58 AM guanw <notifications@github.com> wrote:

[2019-05-05 12:28] guanw commented on #98
Yeah. That sounds totally right. I'm going to do some experiment to see if there's a good way to do it in golang. Cheers!

[2019-05-05 12:41] #98 closed

[2019-05-07 01:38] DavidOcea opened #100 "AttributeError: __enter__"

[2019-05-07 06:14] cool-RR commented on #100
[code]

[2019-05-07 06:14] cool-RR commented on #100
@DavidOcea Please provide the full file

[2019-05-07 06:21] alexmojaki commented on #100
@cool-RR I think you need to release the context manager stuff to pypi.

[2019-05-07 06:24] cool-RR commented on #100
Right. @DavidOcea Please upgrade PySnooper and try again.

[2019-05-07 07:32] DavidOcea commented on #100
i upgrade  pysnooper and the problem is solved, thank you .

[2019-05-07 07:32] #100 closed

[2019-05-08 02:02] strongman1995 opened #101 "IndexError: list index out of range in jupyter"
first I run
[code]
It works correctly.

Then I execute
[code]

it turns up some errors:
[code]

If I only execute the second function foo() after restarting the jupyter kernel, the code works correctly.

[2019-05-08 06:16] alexmojaki commented on #101
Can you attach a notebook file that reproduces the error? I can't reproduce it and this description is obviously incomplete because there are no imports and it seems every detail is important.

[2019-05-08 07:32] strongman1995 commented on #101
[1]: import pysnooper
[2]:
[code]

[3]: ```number_to_bits(6)```

[4]:
[code]

[2019-05-08 07:46] alexmojaki commented on #101
OK I see the problem, `get_source_from_frame` caches by `__name__` which is the same (`__main__`) in both cells. Not sure what the best solution is.

[2019-05-08 11:03] #101 closed

[2019-05-09 02:34] kagxin opened #104 "How to display this string completely?"
![image](https://user-images.githubusercontent.com/16145883/57423260-d72ef700-7245-11e9-9b10-b8b6b5146afc.png)
How to display this string completely?

[2019-05-09 05:22] cool-RR commented on #104
@alexmojaki Why is this string showing so short? When I wrote the code, I made it so it'll truncate at around 100 characters, and when you refactored, you set `self.maxother = 100`. I guess `reprlib.Repr` works differently? In any case I definitely don't want strings to be truncated so much. Can this be fixed?

[2019-05-09 05:51] alexmojaki commented on #104
There's a separate setting `maxstring`.

As for how to display a specific variable completely, I would recommend `print`.

[2019-05-09 05:55] cool-RR commented on #104
In your implementation, is there a way to accomplish the following? "Whenever `repr(x)` would be under 100 characters, display it in full without any truncation"

[2019-05-09 05:58] alexmojaki commented on #104
No, there's no way to tell if e.g. a list is going to have a long repr without just computing the full thing.

[2019-05-09 06:22] cool-RR commented on #104
I understand. I removed `reprlib` and switched back to `repr`. I don't want to sacrifice simple, common usecases for more esoteric ones.

@kagxin Please upgrade PySnooper. Now your string will display, assuming its representation is below 100 characters. If it's above 100 characters, you can monkeypatch PySnooper like this `pysnooper.utils.MAX_VARIABLE_LENGTH = 1000`

[2019-05-09 06:51] alexmojaki commented on #104
Well you could still compute the full `repr` and switch to `reprlib` if it's too long. There are advantages besides performance.

Keep in mind that this issue was not such a use case, just a reminder that we should have set `maxstring` as well.

I don't know which use cases you have in mind, it's only under pretty specific circumstances that your implementation will display information the user wa

[2019-05-09 07:23] #104 closed

[2019-05-10 01:22] AtHeartEngineer commented on #93
@wendingp
I have been messing around with this for the last 30 minutes trying to get something to work. It doesn't work yet, but if anyone wants to help, that would be super cool. I've double checked it at [regexr.com](https://regexr.com/) and it...should be working, but doesn't.

Message Pattern:`^(\d{2}:\d{2}:\d{2}.\d{6})\s+(\w+)\s+(\d+)\s+(.*)$`
_I've tried `^(?m)` at the beginning also to enab

[2019-05-10 10:20] jh-yi commented on #94
I'm also looking for the answer. And here might be one possible solution: (at least works in my case)

1. Go to the declaration of function **_pysnooper.snoop()_**  (in Pycharm, just ctrl+B+single click this function)
2. Go to the declaration of class **_Tracer_** (line 69 in pysnooper.py)
Or you can directly find the file in path_to_env_where_you_install_pysnooper_/env_name/lib/python2.7/site-pac

[2019-05-10 10:27] cool-RR commented on #94
I think you'll be better off monkeypatching `get_shortish_repr`. (Ensure you're on the latest PySnooper version.)

[2019-05-10 10:27] #94 closed

[2019-05-10 13:50] alexmojaki commented on #1
I know @cool-RR is not interested in maintaining optional dependencies either, I tried that too in #71

I tried to make this project extensible in #103 so that another project could be built on top of it with extra features through dependencies, but that's been rejected. I'd already written some code using Pygments which added syntax highlighting in the terminal.

[2019-05-10 16:16] alexmojaki opened #109 "Decorator library adds spurious lines"
Example script:

[code]

Output:

[code]

When it tries to read the source it gets an error:

    [Errno 2] No such file or directory: '<decorator-gen-1>'

Obviously not being able to read the source is bad, but even if it could, it looks like we would get various unwanted lines, as any wrapper function is going to pollute the stack.

[2019-05-10 17:45] cool-RR commented on #109
Do you prefer that we switch to `functools.wraps` and get rid of the decorator module?

[2019-05-10 17:48] alexmojaki commented on #109
Yes. I haven't looked into the decorator module, but if all it does is preserve signatures, that doesn't seem very useful for this library.

[2019-05-10 17:49] cool-RR commented on #109
Okay, feel free to remove it from the repo and switch to `functools.wraps`. Yay, one less bundled third-party module!

[2019-05-10 20:36] alexmojaki commented on #109
Fixed in #112

[2019-05-10 20:36] #109 closed

[2019-05-10 21:13] alexmojaki commented on #10
This works now. I'm guessing the error was essentially the same issue encountered in #109 and fixed in #112. Making the output look a little nicer is being worked on in #108, although I don't think it needs to be merged to count this as fixed.

[2019-05-10 21:26] alexmojaki commented on #79
This can be closed.

[2019-05-10 21:26] alexmojaki commented on #88
This was closed in #91

[2019-05-11 05:51] #88 closed

[2019-05-11 05:51] #79 closed

[2019-05-11 05:51] #10 closed

[2019-05-11 10:37] alexmojaki opened #115 "Simplify tests using `assert_sample_output`, no more entries and regexes"
Tests using `assert_sample_output` are much easier and faster to read, write, and maintain. No regexes. Much less thinking and typing required. Much more concrete, no abstractions. I think it would be a huge improvement to migrate all tests related to tracing to this style. Meanwhile tests relating to output methods should focus only on testing the output, similar to what I've done in #103. We can

[2019-05-11 10:43] cool-RR commented on #115
Interesting. Can you give a list of disadvantages that these tests would
have over the entries framework?

On Sat, May 11, 2019 at 1:37 PM Alex Hall <notifications@github.com> wrote:

[2019-05-11 11:07] alexmojaki commented on #115
In some scenarios a change to the implementation might result in a large batch of tests needing updating that may not be needed in the entries framework. This is pretty simple mindless copy-pasting, so I don't think it's a problem. I could probably write a script to automate it. And I think it would be good to have a clear diff showing how a change affects the output in various situations.

Occasi

[2019-05-11 11:09] cool-RR commented on #115
Okay, thanks. It might take me a while to get to this.

On Sat, May 11, 2019 at 2:07 PM Alex Hall <notifications@github.com> wrote:

[2019-05-11 11:19] alexmojaki commented on #115
I'm willing to do this.

[2019-05-11 11:20] cool-RR commented on #115
I understand, that's good. I'll need a while to think about it anyway, so I
suggest you wait until I update here.

On Sat, May 11, 2019 at 2:19 PM Alex Hall <notifications@github.com> wrote:

[2019-05-11 12:06] cool-RR commented on #27
Whoever is interested in doing this issue, this might help: https://stackoverflow.com/questions/56078482/python-coroutines-release-context-manager-when-pausing/

[2019-05-11 18:29] #115 closed

[2019-05-11 19:45] alexmojaki commented on #44
Seems done.

[2019-05-11 19:48] alexmojaki commented on #69
This is now impossible to do reliably since the output can be a function. The only option is to change the signature so that `output` is passed as a keyword argument, e.g.

    @snoop(output='file')

Maybe just call it `out`.

[2019-05-12 01:02] kkdrfyb opened #120 "module 'pysnooper' has no attribute 'snoop'"
AttributeError
module 'pysnooper' has no attribute 'snoop'
  File "/Users/fanyb/Desktop/markdown/pysnooper.py", line 3, in <module>
    @pysnooper.snoop()
  File "/Users/fanyb/Desktop/markdown/pysnooper.py", line 1, in <module>
    import pysnooper
  File "/Users/fanyb/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/Users/fanyb/anaconda3/lib/python3.7/

[2019-05-12 01:04] kkdrfyb commented on #120
Sorry, I am a newbie, pysnooper is installed, mac computer, copying your example, jumping out of this question, don't know where it is.

[2019-05-12 04:36] cool-RR commented on #69
Nice observation. I think there is no choice but to close this feature request.

[2019-05-12 04:36] #69 closed

[2019-05-12 04:36] #44 closed

[2019-05-12 06:17] alexmojaki commented on #120
Don't name your file `pysnooper.py`. It's trying to do the import from itself

[2019-05-12 06:20] cool-RR commented on #120
Good catch, I missed that.

[2019-05-12 06:20] #120 closed

[2019-05-13 17:55] JiahaoYao opened #121 "How to use `get_shortish_repr` to get the shape of vectors?"
Hi @cool-RR, could you show how to make use of `get_shortish_repr`  to let the `snooper` show the shape of vectors, as you said in #94?

[2019-05-13 18:31] cool-RR commented on #121
Try to monkeypatch the `__repr__` method of the array class

On Mon, May 13, 2019, 20:55 Jimmy Yao <notifications@github.com> wrote:

[2019-05-16 04:34] JiahaoYao commented on #121
Hi @cool-RR, could you give me an example about that?

I also google monkey patch, I find the https://gist.github.com/gseverina/6713629. Do you mean like this?

[code]

[2019-05-18 01:25] nocmt opened #124 "Chinese coding problem"
I use python3.7，It default coding  is 'utf-8', So I didn't add "#-*-coding: utf-8-*-" to the first line of my file.

But when I used PySnooper, I found an error:

      `UnicodeEncodeError: 'gbk' codec can't encode character '\ufffd' in position 69: illegal multibyte sequence`

**Code location：tracer.py 134th line**

My solution is:

[code]

and add "#-*-coding: utf-8-*-" in my file

I look forwar

[2019-05-19 12:43] cool-RR commented on #124
Great, thanks for the fix suggestion! Can you also include a reproducible sample, so I could add a test for this?

[2019-05-19 12:44] cool-RR commented on #121
Yes, that's what I meant.

[2019-05-19 13:07] alexmojaki commented on #124
Can you check if the fix works without `#--coding: utf-8--`? I think this is just because `gbk` is the default encoding on your computer, and it doesn't know how to encode that character.

[2019-05-19 15:12] JiahaoYao commented on #121
Hi @cool-RR, thank you for your reply. I mean I still failed to monkey patch because `print(j)` still use the **old** `__repr__`, only by using `print(j.__repr__(j))` can be the new method.

[2019-05-19 15:18] alexmojaki commented on #121
You have to patch the class. Assigning magic methods to an instance doesn't work, because functions like `repr` look them up on the class.

[2019-05-19 16:50] JiahaoYao commented on #121
Oh, I see. thank you @alexmojaki. Then, my question is how to monkey patch the class of ,say, numpy.ndarray.

[code]

What I got is

[code]

[2019-05-19 17:00] alexmojaki commented on #121
Well, you could try using [forbiddenfruit](https://github.com/clarete/forbiddenfruit)...

I don't actually understand the suggestion to patch `ndarray.__repr__`. Rather, you could patch the `get_shortish_repr` function in `pysnooper.utils`.

[2019-05-20 06:02] nocmt commented on #124
I found this problem in pytest's assertion

test_demo.py

[code]

![image](https://user-images.githubusercontent.com/26828323/57999410-ec3e3c80-7b07-11e9-9e46-1024adc89737.png)

[2019-05-20 08:10] cool-RR commented on #121
Right, looks like `ndarray` can't be patched because it's a C extension. @alexmojaki 's two suggestions are good, try them.

[2019-05-20 10:54] #124 closed

[2019-05-20 10:54] cool-RR commented on #124
I fixed the problem and added a test, please upgrade PySnooper and give it a try.

[2019-05-21 23:37] JiahaoYao commented on #121
That is pretty cool. Thanks, @alexmojaki and @cool-RR.

[2019-05-21 23:37] #121 closed

[2019-05-23 09:25] kagxin commented on #104
thanks

[2019-05-26 12:30] techtonik opened #125 "Add `python` and `debug` tags to repository"
To make it easily discoverable.

https://github.com/search?q=topic%3Apython+topic%3Adebug

[2019-05-26 13:07] cool-RR commented on #125
Good idea, done. Thank you!

[2019-05-26 13:07] #125 closed

[2019-06-04 14:07] yvonhubert opened #127 "activate / desactivate pysnooper ?"
hello,

is it possible to activate / desactivate pysnooper in code ?

the goal is to keep pysnooper in production and activate it when a problem is occuring.

thanx

[2019-06-04 14:11] cool-RR commented on #127
Right now, there isn't. This is a good feature, and if anyone volunteers to implement it, I'll give you some guidelines. Let me know if that's you.

As a user, do you expect to enable/disable it with an environment variable, or did you have any other kind of interface in mind?

[2019-06-04 14:50] yvonhubert commented on #127
perhaps you can implement the same schema used by the module logging :

logging.config.fileConfig('/washingmachine/src/resources/logging.properties')

[2019-06-04 15:19] cool-RR commented on #127
Nah, I'm against a config file.

@alexmojaki what do you think would be a good interface for a user to toggle PySnooper? Environment variable or anything else?

[2019-06-04 15:26] yvonhubert commented on #127
ok no problem .. so the best way for my case is an environment variable. We don't want to edit the python code when we investigate problems in prodcution

[2019-06-04 15:39] alexmojaki commented on #127
In my version, configuration such as output is set globally by calling a separate function, instead of in each call to snoop. It includes an `enabled` parameter which the user sets directly. Something like that would be the most flexible (whether or not it can touch any other configuration). The user can easily check for an environment variable themselves.

An environment variable would be less fl

[2019-06-04 16:33] cool-RR commented on #127
@alexmojaki Great, thanks for the input!

@yvonhubert If you or anyone else would like to implement, go ahead. The environment variable name should be `PYSNOOPER_DISABLED` and if it has a non-empty value, then PySnooper is in no-op mode, i.e. any decorated functions will just be the original functions and the context manager will not do anything. Tests should be added.

[2019-06-10 14:57] pikez commented on #127
@cool-RR @yvonhubert   I'm interested in it.  If no one is doing this now, I will try to implement it in several days.

[2019-06-10 15:04] cool-RR commented on #127
@pikez Great! If you'll have any questions, let me know. Otherwise I'll be happy to see the pull request when it's ready.

And if you'll be hungry for more features later, #1 would be good!

[2019-06-10 15:05] cool-RR commented on #1
Anyone reading this: This feature is up for grabs for anyone interested in implementing it.

[2019-06-13 11:03] guysoft opened #128 "No tags in release"
Hey,
I can see you are changing the release versions, but there are no tags in the Repo,
It would also let you post to the release page what has changed and if there is anything major.
Example:
https://github.com/python/cpython/releases

And if you feel like it you can add more text:
https://github.com/guysoft/OctoPi/releases

[2019-06-13 11:16] cool-RR commented on #128
That'd be good, but I don't want the effort and commitment of tagging every
time. If there was a bot that automatically tagged based on the version in
the Python files, that'd be cool.

In any case thanks for documenting this here, we might do this in the
future.

On Thu, Jun 13, 2019, 13:03 Guy Sheffer <notifications@github.com> wrote:

[2019-06-13 12:06] guysoft commented on #128
If you are releaseing to PyPi already then you can use this:
https://github.com/user-cont/release-bot

[2019-06-13 12:09] cool-RR commented on #128
Interesting, thanks for sending.

[2019-06-19 11:01] kkdrfyb commented on #120
@alexmojaki thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-24 13:56] keszybz commented on #128
+1 here: it'd be great if releases were tagged with git tags.

BTW: I'm preparing a package for Fedora (https://bugzilla.redhat.com/show_bug.cgi?id=1720843) after seeing your lighting talk at pycon.cz.

[2019-06-25 14:18] cool-RR commented on #128
Bah, you convinced me :)

I pushed the version tags now, and I'll try to remember to include them in future releases. If I forget to push them in the future, let me know. Thanks for packaging for Fedora! I saw that it's finished, that's great!

[2019-06-25 14:18] #128 closed

[2019-06-28 15:07] #127 closed

[2019-06-30 02:52] Freakwill opened #132 "Unable to install it"
`pip install` command displayed the following error

 ERROR: Could not find a version that satisfies the requirement pysoonper (from versions: none)
ERROR: No matching distribution found for pysoonper

[2019-06-30 04:34] ballgodpy opened #133 "About the 'with' position"
![image](https://user-images.githubusercontent.com/24569445/60392300-9317ee80-9b32-11e9-9548-83806bb16f57.png)
q1:why  line 14 'with' is lined up with line 11'for', not  line 12 ?
q2: why the output  only shows when i ==  2,
![image](https://user-images.githubusercontent.com/24569445/60392325-edb14a80-9b32-11e9-959c-639f5885f0d9.png)

I want to know the reason,thank you

[2019-06-30 06:38] cool-RR commented on #132
Because you mistyped the package name :)

On Sun, Jun 30, 2019, 05:52 William Song <notifications@github.com> wrote:

[2019-06-30 07:16] #132 closed

[2019-07-01 11:02] cool-RR commented on #133
I ran your code and got the right result:

[code]

I think that your problem isn't the code but the way that you run it. I don't know this `runfile` function but I guess it's clashing with PySnooper in some way.

[2019-07-01 11:07] alexmojaki commented on #133
I think OP is using PyCharm to run a file inside a console. The console persists the source cache which is out of date after changing the file.

[2019-07-01 11:12] cool-RR commented on #133
Makes sense.

[2019-07-01 11:12] #133 closed

[2019-07-03 13:05] alexmojaki commented on #1
[My version of PySnooper](https://github.com/alexmojaki/snoop) is out and it is colorful! I'd love to hear people's thoughts about the design and use of color [here](https://github.com/alexmojaki/snoop/issues/1).

It seems that colorama is not needed for Windows support after all, which is good because it only supports a few colors anyway. Windows 10 has had support for ANSI codes in cmd for two y

[2019-07-03 13:06] alexmojaki opened #134 "Incorrect "Call ended by exception" when using finally blocks"
The method for testing if a call ended with an exception is not quite accurate. Here's an example:

[code]

[code]

I don't know of any easy reliable way to tell the difference between returning None and raising an exception inside a try/finally. For now I keep track of whether a call has raised an exception at all, and if it hasn't (like above) I know it's definitely a return. If it has, I simply

[2019-07-03 23:16] longqzh opened #135 "feature request: Support showing source code in exec"
Thanks for your awesome project!   It works with the code which run in the exec(), but it can't show the source code. I found that pysnooper try to get the source code from file. So Is it possible to show the source code in exec?

[2019-07-04 07:32] alexmojaki commented on #135
If you just `exec(string)`, then in general that string cannot be recovered by anyone, which is why it also doesn't show up in tracebacks.

If you are in control of the code that does `exec(string)`, change it to `exec(compile(string, filename, 'exec'))` and put `string` in the file `filename`, and that will work.

[2019-07-04 09:24] longqzh commented on #135
Thanks very much. It works properly :)

[2019-07-04 09:24] #135 closed

[2019-07-04 09:56] cool-RR commented on #134
Thanks for reporting this. Right now I think it's a small enough issue that I can ignore it.

[2019-07-05 19:59] 625781186 opened #136 "Question : How do I only focus on function calls and return values?"
I find that many open source projects do not have UML diagrams, making the functions called difficult to trace.

So, How do I only focus on function calls and return values,  not variables?
Like this :
![image](https://user-images.githubusercontent.com/30521429/60743005-2d988780-9fa2-11e9-8774-dfbd10a2c45f.png)

I want to just keep the calls and returns.

[2019-07-05 20:06] cool-RR commented on #136
grep?

On Fri, Jul 5, 2019, 22:59 625781186 <notifications@github.com> wrote:

[2019-07-05 20:14] 625781186 commented on #136
@cool-RR
Sorry , I don't quite understand.
I just filter lines of `call` and `return`
![image](https://user-images.githubusercontent.com/30521429/60743496-76e9d680-9fa4-11e9-9080-32b1e8d226d6.png)

[2019-07-05 20:21] alexmojaki commented on #136
There are many libraries that offer functionality like this. Google "python call graph" and you'll find several. https://github.com/zestyping/q also comes to mind, using the `@q` decorator. It's not a very complicated thing to do, you can even do it yourself:

[code]

Output:

[code]

PySnooper is all about those lines and variables in the middle. If you don't care about that stuff *at all*, I don

[2019-07-05 20:24] 625781186 commented on #136
@Alex Hall
Thanks .
As I said, I just want to track the deep call flow of the main function.
![image](https://user-images.githubusercontent.com/30521429/60743875-fcba5180-9fa5-11e9-97ae-8c14111fd5e1.png)

[2019-07-05 20:32] alexmojaki commented on #136
Is https://github.com/gak/pycallgraph suitable?

[2019-07-05 20:39] 625781186 commented on #136
Yes, like this .
I know pycharm has the function , but it's not as thorough as pysooner tracks.
I don't know if it's my unfamiliarity with them .
I want to use `pysnooper` for the reason that tracing is very deep.

[2019-07-05 20:53] #136 closed

[2019-07-13 08:13] Fangyh09 opened #137 "Need fewer logs when in a loop"
[code]
For foo_loop(1000), `result` will be updated 1000 times.
But I only want to know the final result.

[2019-07-13 08:39] cool-RR commented on #137
Start by modifying your communication skills ;)

You need to be much, much clearer in communicating your problem.

On Sat, Jul 13, 2019, 11:13 Coder_Hong <notifications@github.com> wrote:

[2019-07-13 08:55] Fangyh09 commented on #137
@cool-RR Okay, updated.

[2019-07-13 09:01] cool-RR commented on #137
Looks like PySnooper isn't the right tool for this job.

[2019-07-13 09:15] alexmojaki commented on #137
This is pretty much exactly the example use case for `with pysnooper.snoop():` given early on in the README. Does that not suit you?

[2019-07-15 14:21] 625781186 opened #138 "Featrue requests: Does anyone write a similar module for C/C++?"
I think this debugging method is too convenient !!
I love it.

[2019-07-15 14:45] 625781186 commented on #93
@wendingp
I use vscode .
Need  install plugin `log file highlighter`.
![image](https://user-images.githubusercontent.com/30521429/61224851-f2404a80-a751-11e9-9e85-715b6ededb5c.png)

![image](https://user-images.githubusercontent.com/30521429/61224846-ebb1d300-a751-11e9-9473-9736cec471b0.png)

In addition , pycharm poor support for large files.

[2019-07-15 14:47] alexmojaki commented on #93
@625781186 that's [snoop](https://github.com/alexmojaki/snoop), not PySnooper.

@cool-RR wow I guess the potential for confusion is worse than I thought...

[2019-07-15 14:53] cool-RR commented on #93
Haha, yeah.

On Mon, Jul 15, 2019, 17:47 Alex Hall <notifications@github.com> wrote:

[2019-07-15 16:02] 625781186 commented on #93
@alexmojaki
Haha, I know I use snoop , but I just talk about a better method to read .log file.

[2019-07-15 16:21] alexmojaki commented on #93
@625781186 what I mean is that there's no `>>> Call to` or `<<< Return value` in PySnooper, it's only in snoop.

In any case for snoop it might be better to use the provided coloring which includes syntax highlighting. If you just output to the default stderr it should work, but if you want to use a file you can force color with `snoop.install(color=True)` and then view the file with a tool that s

[2019-07-15 22:56] rickgeorges opened #139 "Advanced Usage 'exclude variable'"
The 'Advanced Usage' section in the docs are not that clear to me. Sorry if this if easy to figure out but I'm not sure how to use the classes in variables.py
How can I achieve this:
[code]

Thanks

[2019-07-16 08:07] alexmojaki commented on #139
There is no way to do this right now. You're probably thinking of something like `snoop(watch=Keys('thing', exclude=['token']))`, which would show all the keys/values of the mapping `thing` except for the key `token`. There's nothing for excluding entire variables.

What's your use case here? Are you using this in production and want to keep secrets out of logs? Do you want to do this across many

[2019-07-16 15:23] rickgeorges commented on #139
I'm using this in production and want to keep the token out of the logs for our user's with read access. This would be applied across multiple functions.
Here `snoop(watch=Keys('thing', exclude=['token']))` 'thing' would have to be a list, set, or tuple?
I keep getting `TypeError: 'Keys' object is not iterable` when I try to use it.
For example
[code]

[2019-07-16 15:37] alexmojaki commented on #139
@cool-RR update ensure_tuple to use ` if not isinstance(x, (list, set, tuple)):`

@rickgeorges `watch=[Keys('beta', exclude='age')]` should work. But it doesn't answer your original question, I was just explaining where `exclude` is relevant.

Various features could be added to try to keep secrets out of the output. But there's always going to be a risk of them appearing anyway, e.g. as a part of

[2019-07-17 06:21] cool-RR commented on #139
@alexmojaki Thanks for the tip about `ensure_tuple`, I'm fixing that.

Otherwise I agree it's not worth adding these features.

[2019-07-19 10:27] 625781186 commented on #93
@cool-RR

Hello , How do I fold code in markdown like you ? Thank you.

[2019-07-19 10:34] cool-RR commented on #93
I think it's automatic because I made a comment by replying on GMail to GitHub's notification.

[2019-07-19 10:42] 625781186 commented on #93
@cool-RR

Can you copy the source code of https://github.com/cool-RR/PySnooper/issues/93#issuecomment-511436040 for me to see? I'm really curious.

![image](https://user-images.githubusercontent.com/30521429/61529723-af81b980-aa54-11e9-8d39-69694aaaebc4.png)

[2019-07-19 11:31] cool-RR commented on #93
Sure, here's the source: https://gist.github.com/cool-RR/182953dee1f726a9689968bb0ae52778

[2019-07-19 12:41] #137 closed

[2019-07-21 16:43] titi2338432 opened #141 "feature request: adding (when="var>3") parameter in snoop()"
@pysnooper.snoop() helps a lot however sometime we just need information under specific conditions and don't want bunch of messages in the screen or log file.

[2019-07-21 16:45] cool-RR commented on #141
That's a cool idea. It's a bit more sophisticated than I'd like, but it's
cool.

Please include multiple examples of usage and describe exactly how the
condition will behave.

On Sun, Jul 21, 2019, 19:43 Yin Tang <notifications@github.com> wrote:

[2019-07-21 16:47] titi2338432 opened #142 "feature request: support functional programming in snoop()"
for some specific need, logic may be really complicated, which is not possible to represent by simple parameters or expressions. a (func=filter_func) may help to deal with complex logic and filter the message.

[2019-07-21 16:47] alexmojaki commented on #141
I thought about this but wasn't sure if there was demand for it. I created an issue to discuss it (and other possible similar APIs) here: https://github.com/alexmojaki/snoop/issues/5

[2019-07-21 16:51] titi2338432 opened #143 "feature request: colored scheme in Jupyter-Notebook/terminal"
![image](https://user-images.githubusercontent.com/1193630/61594122-d73c6300-abb5-11e9-99bb-c75e1e352c56.png)

the above is a usually appeared screen-shot in jupyter notebook, if colored in columns, it would be really helpful to distinguish time/line number/code/variables parts.

[2019-07-21 16:51] cool-RR commented on #142
Sounds like a job for grep. I need to be careful not to add too many
features to PySnooper, because it's supposed to be a toy.

On Sun, Jul 21, 2019, 19:47 Yin Tang <notifications@github.com> wrote:

[2019-07-21 16:54] alexmojaki commented on #142
I have no idea what this means. Is this a more powerful version of #141 ?

[2019-07-21 19:11] alexmojaki commented on #143
This depends on #1 being solved first. Notebooks support coloring via ASCII escape codes so the same code should pretty much work, although getting the colors to look good may take extra work.

I recommend you try the alternative library [snoop](https://github.com/alexmojaki/snoop). It has output coloring and special Jupyter notebook support. Also in my opinion the output is also easier to read ev

[2019-07-28 01:33] DavidykZhao opened #144 "Problem with passing in a single tuple in custom_repr= ()"
I was trying it on a toy example and just wanted to pass in one tuple like
(list, print_list_size) to custom_repr= () with print_list_size being the example used in the readme file:
`
def print_list_size(l):
    return 'list(size={})'.format(len(l))
`

There was an exception:" TypeError: cannot unpack non-iterable function object."
I think the problem lies in that custom_repr is a tuple of tuples

[2019-07-28 08:07] alexmojaki commented on #144
@cool-RR I can't be bothered with an actual PR, but something like this in the Tracer class should do:

    if custom_repr and callable(custom_repr[0]):
        custom_repr = [custom_repr]

FYI @DavidykZhao [snoop](https://github.com/alexmojaki/snoop) will show you the `len()` of most things out of the box in addition to the usual repr.

[2019-07-28 19:01] DavidykZhao commented on #144
@alexmojaki That's something I am thinking about as well. Thanks for the suggestion. Looking forward to new features.

[2019-07-30 07:15] cool-RR opened #146 "Break down the readme to 2 files, complicated usage to separate file"

[2019-07-30 08:14] #144 closed

[2019-09-05 13:37] techtonik commented on #125
I'd also add `pdb` for people who are still using that tool.

[2019-09-05 13:47] cool-RR commented on #125
I disagree, but thanks for the suggestion.

On Thu, Sep 5, 2019, 16:37 anatoly techtonik <notifications@github.com>
wrote:

[2019-09-07 20:37] jonathangjertsen opened #150 "Allow snooping on all methods of a class"
I didn't find a way to easily snoop on all the methods of a class without adding the decorator to every single method. Below is an outline of a way to do it with a metaclass. There was an issue overwriting the magic/dunder methods (`AttributeError: type object 'SnoopedMetaClass' has no attribute '__code__'`), but for everything else it works fine.

[code]

[2019-09-08 04:18] cool-RR commented on #150
This is a cute idea. My priority is to keep the interface as simple as possible, so if you'd like me to merge it, I'd like you to modify it so it's a decorator on the class rather than a metaclass. Submit a PR like that, with tests and documentation, and I'll likely merge it.

[2019-09-08 05:34] alexmojaki commented on #150
I considered doing this for snoop, I just wanted to hear other people's thoughts on it first: https://github.com/alexmojaki/snoop/issues/2

The main problem with the kind of implementation above (metaclass or not) is that decorated methods in the class won't be traced correctly. If you have a traditional decorator:

[code]

And a method:

[code]

then the metaclass above will trace `wrapper` inste

[2019-09-08 09:58] jonathangjertsen commented on #150
OK @cool-RR, I'll give it a shot.

@alexmojaki That's an interesting point, not sure how pysnooper interacts with other decorators in the first place.

[2019-09-08 10:47] alexmojaki commented on #150
PySnooper does nothing to specially handle or be aware of other decorators. If you do this:

[code]

then you will snoop `wrapper`. Sometimes that might even be a good thing if you want to check the behaviour of `my_decorator` in a particular case. If it's not, hopefully most users can diagnose the problem and swap the order:

[code]

In fact as they consider adding `@snoop()` to a decorated funct

[2019-09-08 18:54] alexmojaki opened #152 "Disallow async generators"
From inspect.py:

[code]

As long as coroutine functions aren't supported, async generators shouldn't be supported for the same reasons.

[2019-09-08 19:01] cool-RR commented on #152
Agreed, awaiting PR from anyone.

[2019-09-08 19:01] cool-RR commented on #152
By the way, do you support them on your fork?

[2019-09-08 19:03] alexmojaki commented on #152
No. I don't have any actual experience with asyncio so I don't feel comfortable metaprogramming with it.

[2019-09-08 19:04] cool-RR commented on #152
I think it might be just a white elephant. I've seen it used in the real world only a very few times, and it adds so much more infrastructure to the language.

[2019-09-08 19:07] cool-RR opened #154 "Add tests for DISABLED=True"

[2019-09-08 19:22] #150 closed

[2019-09-08 19:30] alexmojaki commented on #150
Another problem:

[code]

Output:

[code]

[2019-09-13 17:24] #152 closed

[2019-09-13 17:27] cool-RR commented on #6
Fixed by #148

[2019-09-13 17:27] #6 closed

[2019-09-14 07:24] cool-RR opened #158 "test_exception is flaky"
@alexmojaki Check this out. While developing something unrelated, I noticed that `test_exception` with `assert_sample_output` that you wrote, is flaky. It failed once on Python 2.7 on Windows, and then it succeeded again (without any code changes) and I couldn't make it fail again.

Here is the failure details, let me know if you have any insights:

[code]

[2019-09-14 07:26] cool-RR commented on #158
Ah, I guess it's because the tests were run just when the second elapsed.

[2019-09-14 08:29] #158 closed

[2019-09-14 10:56] #154 closed

[2019-10-16 13:06] SripriyaMenon opened #163 "Fluentbit error: or: Could not open configuration file. Aborting"
I am trying to configure Fluentbit on my 5 node EKS cluster.

It was running ok when i was running it on the 3 node cluster. But now after upgrading it to 5 node cluster, The pods are always in the CrashLoopBack State and the logs mention:

Fhdjghjiegfi;ugue~]$ kubectl logs ds/fluent-bit -n logging
Found 5 pods, using pod/fluent-bit-6qzcp
Fluent Bit v1.1.0
Copyright (C) Treasure Data

Error: Could

[2019-10-16 15:28] cool-RR commented on #163
Toto, we're not in Kansas anymore! :D

[2019-10-16 15:28] #163 closed

[2019-10-18 00:34] samhld opened #164 "Help: trouble with "SOURCE UNAVAILABLE""
Overall, this is working for me but instead of getting the line of code that's being evaluated, I'm getting a constant `SOURCE UNAVAILABLE` message.  It looks like this is called from [here](https://github.com/cool-RR/PySnooper/blob/master/pysnooper/tracer.py#L89).  Not sure why it's not a "source" though.  Can you help?  Thanks!

This is happening on a very basic function, say:
[code]

Returns:
[

[2019-10-18 07:10] cool-RR commented on #164
What's the scenario? Where is your function defined? In a code file, in a
shell, and if so what shell?

On Fri, Oct 18, 2019, 03:34 Sam Dillard <notifications@github.com> wrote:

[2019-10-18 12:26] samhld commented on #164
@cool-RR it's defined in a python3 interactive shell.  Sounds like maybe I don't understand what "source" means in this case?

[2019-10-18 12:29] alexmojaki commented on #164
The source code isn't saved anywhere in a regular shell. If you write code that raises an exception you'll see that code doesn't show in the traceback either.

[2019-10-18 12:47] cool-RR commented on #164
@alexmojaki is correct. If you were to suggest to python-ideas to start saving source code on code objects, I would support that suggestion, and that would make this feature possible. I think that they're unlikely to accept it, but let me know if you try.

[2019-10-18 12:47] #164 closed

[2019-10-18 12:54] samhld commented on #164
thanks, guys!  Clears that up.

[2019-10-21 15:57] chen-chao opened #165 "Unnecessary BaseVariable type in watch?"
Is `isinstance(v, BaseVariable)` here really necessary?  `v` shouldn't be an instance of `BaseVariable` since it has abstract methods.

https://github.com/cool-RR/PySnooper/blob/c0bf4bd0067d8d7618e40d27b2626e6f3cba4fce/pysnooper/tracer.py#L207-L213

[2019-10-21 16:01] alexmojaki commented on #165
If v is an instance of a subclass of BaseVariable, `isinstance(v, BaseVariable)` will be True.

I'm pretty sure if you remove that check you will find some tests fail.

[2019-10-21 16:46] chen-chao commented on #165
Thanks for your answer. Learned a lot from the source code.

[2019-10-21 16:46] #165 closed

[2019-10-23 15:27] #138 closed

[2019-10-29 06:57] CLannadZSY opened #167 "Bug: wrong when using"
### use print(), can output correctly
![Snipaste_2019-10-29_14-49-44](https://user-images.githubusercontent.com/38000492/67744093-890fe900-fa5b-11e9-8ccd-e429e9bca8c6.png)

### use pysnooper,it wrong
![Snipaste_2019-10-29_14-52-51](https://user-images.githubusercontent.com/38000492/67744205-d55b2900-fa5b-11e9-9478-2f1e647bc0ab.png)

### why?

[2019-10-29 06:59] alexmojaki commented on #167
PySnooper requires `()` in the decorator, i.e. `@pysnooper.snoop()`. [My version](https://github.com/alexmojaki/snoop) doesn't.

[2019-10-29 07:01] CLannadZSY commented on #167
so sorry, I am too careless.

[2019-10-29 07:01] #167 closed

[2019-11-14 08:16] itraviv opened #168 "Add a flag to normalize the output (remove machine-specific data)"
We came up with a simple but strong usage – diff between traces.
We use it to find bugs or regressions between git-branches and code sections.
However, we deal with removing all the machine-specific data (time stamps, reprs containing memory addresses, absolute paths, thread data etc.).

I thought about adding a flag called “normalize” that will do it.
for example:
the trace without changes (`norm

[2019-11-15 10:01] cool-RR commented on #168
I like this idea. Do you have code that produces the output you included? If so please include it, possibly as a draft PR just for discussion.

I'd like you to list all the different items that should be dealt with, and how they will be dealt with. For example, timestamps are an easy case, because you just omit them. Memory addresses are a little harder, because you need to choose whether you'll s

[2019-11-15 10:05] alexmojaki commented on #168
Is there any part of this that can't be done by post-processing the output? This is literally what's done in some of the tests.

[2019-11-15 10:07] cool-RR commented on #168
Post-processing might work, but if you mean that we'll just leave the post-processing to the users, that means that many users are not gonna do it because they won't want to write that post-processing algorithm.

[2019-11-15 10:22] alexmojaki commented on #168
No but I think it makes more sense as a separate function than a flag.

[2019-11-15 12:40] cool-RR commented on #168
Advantage of having a separate function: Avoids adding more complexity to our main algorithm.

Disadvantages of having a separate function:

1. Post-processing logic is more difficult, might not work for all cases and testing might not be able to reveal that.
2. More difficult for users to discover.

So I still support adding this as a flag-- Assuming that Itamar can give good answers to my questi

[2019-11-15 12:46] itraviv commented on #168
I'll have everything written (answers to your questions and implementation ideas) in 24h

[2019-11-16 16:51] itraviv commented on #168
- timestamps - if `normalize=True` use an empty string.
- source path - use only the filename (use basename on the full path). thought about calculating some relative path (to some root point for example) but I don't know how to do it without extra knowledge and I don't want the user to give extra input and I found it useful enough this way.
- repr - I think it'll be rude to override the user-defi

[2019-11-16 17:22] cool-RR commented on #168
Agreed.

Agreed.

Agreed.

Hmm, instead, when `normalize=True` and `thread_info=True` raise a `NotImplementedError` that explains that using these flags together isn't implemented.

I disagree, people who are savvy enough to specify a different `max_variable_length` should know that they need to set the same number on both runs.

Looks good, don't forget adding tests, I'll wait for your PR.

[2019-11-19 17:08] cool-RR commented on #168
Merged in #171

[2019-11-19 17:08] #168 closed

[2019-11-29 22:03] #146 closed

[2019-12-03 06:49] sadow984 opened #173 "Showing the error while running the python code with pysnooper"
@pysnooper.snoop()
AttributeError: partially initialized module 'pysnooper' has no attribute 'snoop' (most likely due to a circular import)

[2019-12-03 07:03] cool-RR commented on #173
Interesting, but we'll need a reproducible example.

On Tue, Dec 3, 2019, 08:49 sadow984 <notifications@github.com> wrote:

[2019-12-03 07:24] alexmojaki commented on #173
Did you name your file `pysnooper.py`?

[2019-12-03 07:35] sadow984 commented on #173
yes

[2019-12-03 07:36] sadow984 commented on #173
import pysnooper

@pysnooper.snoop()
def number_to_bits(number):
    if number:
        bits = []
        while number:
            number, remainder = divmod(number, 2)
            bits.insert(0, remainder)
        return bits
    else:
        return [0]

number_to_bits(6)

[2019-12-03 07:37] cool-RR commented on #173
Good catch Alex. Yeah, you definitely can't name your file `pysnooper.py`.

[2019-12-03 07:37] #173 closed

[2019-12-03 07:40] sadow984 commented on #173
ok,got it
thanks

[2019-12-25 16:00] TejasAvinashShetty opened #175 "feature request: support ndarrays"
Is there a way to use pysnooper with ndarrays from numpy?

[2019-12-25 16:04] alexmojaki commented on #175
If you want the variables to display properly, try https://github.com/alexmojaki/snoop

[2019-12-27 15:53] cool-RR commented on #175
This won't be implemented in PySnooper, sorry. I think it's too specialized, and not worth the added complexity. People should use either a real debugger, or a real monitoring solution.

[2019-12-27 15:53] #175 closed

[2020-01-28 10:12] cool-RR opened #176 "Feature request: Implement tool to explore long PySnooper outputs"
It happened that I was using PySnooper with `depth=10000` to explore a piece of running code. Of course, the output was huge with many levels of indentations. I wanted to explore it, but it was difficult to track the execution of a single function.

It would be cool if there was a tool that accepted PySnooper outputs and allow some useful use cases of exploring them to find what you want.

[2020-01-28 10:13] cool-RR commented on #176
Anyone who wants to implement this, we'll need to do a lot of work on defining the design and use cases before starting to implement.

[2020-03-10 12:53] DanielSwain opened #177 "FEATURE REQUEST: Display value of *args, **kwargs in overridden save()"
We just came across an error in an overridden `save()` that was not present in the Django admin but that cropped up when creating a front-end with DRF.  Turned out there was a `kwarg` that needed to have have its value changed:  `force_insert` had to be changed to `False` because `super` was being called two times in the overridden `save` routine (yes, it had to be called two times in order to fir

[2020-03-10 12:56] cool-RR commented on #177
Interesting. I'd like to understand this but I'm a little confused. If you have a reproducible example, that'll help.

So the overridden `save` was calling the original `save`, right? Did you have `depth >= 2` in order to have PySnooper track there?

Can you share the PySnooper output?

[2020-03-10 13:08] DanielSwain commented on #177
Was not aware of `depth >= 2`.  That provides what we need.  Thanks for the quick response.

[2020-03-10 13:08] #177 closed

[2020-03-10 13:10] cool-RR commented on #177
Another day saved :joy:

[2020-04-18 14:04] iory opened #180 "Minor bug in nesting"
There is a minor bug at the nesting case.
Following is the example.
[code]

The output is the following.

[code]
The debug outputs of the `a = 20` and `time.sleep(1.0)`  are vanished.
I don't think we'll use it like this, but I'll report it.

[2020-05-04 15:24] cool-RR opened #182 "`relative_time` fails with generator"
I found a bug with `relative_time` when used with a generator. The times shown seem to be reset at some point. I don't know whether this bug could also happen without generators.

@iory Can you take a look at this bug?

@alexmojaki I suspect that this has something to do with the `start_times` dict you suggested.

Sample:

[code]

Output:
[code]

[2020-05-04 15:47] alexmojaki commented on #182
Well I see a `call` in the middle, so I think that's just how PySnooper interprets generators resuming execution, like what I mentioned here: https://github.com/alexmojaki/snoop/wiki/Comparison-to-PySnooper#generators

[2020-05-04 15:49] cool-RR commented on #182
Hmm, interesting. Do you think that if I were to cherry-pick that feature out of snoop, this bug would be solved without any changes to the `start_times` logic?

[2020-05-04 15:54] alexmojaki commented on #182
I don't think it would be that simple, but I think the process of extracting that feature would probably make it pretty easy to understand and fix this bug.

I'm guessing the reset happens here https://github.com/cool-RR/PySnooper/blob/master/pysnooper/tracer.py#L381

[2020-05-04 15:56] cool-RR commented on #182
Awesome, thanks for the information. I'll check it out.

On Mon, May 4, 2020 at 6:54 PM Alex Hall <notifications@github.com> wrote:

[2020-05-22 20:26] cool-RR commented on #182
God damn it, this is complicated.

I made a failing test, but figuring out how to fix the behavior is hard. @iory , @alexmojaki if any of you could be interested in trying this bug, feel free.

[2020-06-05 14:52] MstWntd opened #190 "output to logging handle"
Hi,

This tool is awesome, I have two questions tho:

1) How can I enable/disable the logging programmatically
2) How can I ensure all the log output goes to logging module as WARN or DEBUG?

Thank you.

[2020-06-05 16:08] cool-RR commented on #190
Thank you :)

Does setting the environment variable `PYSNOOPER_DISABLED=1` solve your problem, or would a Python call be better?

How about `@snoop(logger.warn)`?

[2020-06-05 19:17] MstWntd commented on #190
That works nicely, also I was hoping for a Python call which I can then control with a switch passed via argsparse.

to give some context, almost all of the tools I write are frozen, as a result the source code is not packaged, the result is just binary, which you cant do much debugging on.. and having this level of printing with minimal to no effort is a blessing!

[2020-06-05 19:24] cool-RR commented on #190
I understand. I think I'll keep it as an environment variable for now. Thanks for the feedback!

[2020-06-05 19:24] #190 closed

[2020-06-05 19:31] alexmojaki commented on #190
You *can* set the environment variable within Python, but you have to do it before importing snoop.

You can patch `pysnooper.tracer.DISABLED`, but you have to do it before functions are decorated.

Alternatively you can use my fork https://github.com/alexmojaki/snoop and `snoop.install(enabled=False)` which can be called at any time.

So when you're debugging, does it show lots of `SOURCE IS UNAV

[2020-06-05 19:42] cool-RR commented on #190
Alex, if you like crazy features, we could always run `uncompyle6` on-demand and get an approximation for the source :)

[2020-06-05 19:46] alexmojaki commented on #190
I was literally just looking into that, mostly out of curiosity. But it turns out uncompyle6 is not good enough to produce source that has the right line numbers. For example this:

[code]

outputs:

[code]

[2020-06-05 19:52] cool-RR commented on #190
Great minds think alike, sometimes a few years in advance :)
https://github.com/rocky/python-uncompyle6/issues/133

[2020-06-14 11:15] shandyandy43 opened #192 "Thanks for reporting this. Right now I think it's a small enough issue that I can ignore it."
Thanks for reporting this. Right now I think it's a small enough issue that I can ignore it.

_Originally posted by @cool-RR in https://github.com/cool-RR/PySnooper/issues/134#issuecomment-508421822_

[2020-06-14 11:23] cool-RR commented on #192
Lol wat

[2020-06-14 11:23] #192 closed

[2020-06-14 13:25] shandyandy43 opened #193 "New project"
Stop cloning the netbet account with immediate affect. Delete as soon as possible.

[2020-06-14 13:30] cool-RR commented on #193
I have no idea what you're talking about. You may be confusing me with someone else. Feel free to give more details, and not by opening fake issues.

[2020-06-14 13:30] #193 closed

[2020-06-18 14:44] Lazloo opened #194 "Delta Time Instead of Relative Time"
I would appreciate an option that shows the relative spend time for each line. That is the delta time to the previous line.

That would be great
Lazloo

[2020-06-20 08:47] cool-RR commented on #194
I understand and I see how that can be useful, but I think I'm gonna rule this out. It's important to keep PySnooper simple and resist the temptation to add too many features. Otherwise it'll become just another debugger.

[2020-06-20 08:47] cool-RR commented on #194
Thanks anyway for suggesting this.

[2020-06-20 08:47] #194 closed

[2020-09-13 12:22] yaelmi3 opened #195 "'_thread._local' object has no attribute 'depth' raised by snooper if there's exception upon calling snooped func"
[code]
Calling f without x
[code]

results in:
[code]
The reason is that we initialize `thread_global` with `depth`here, while it's always used on `__exit__` here:https://github.com/cool-RR/PySnooper/blob/master/pysnooper/tracer.py#L322. In case we returned before the thread_global was initialized with depth, (i.e. https://github.com/cool-RR/PySnooper/blob/master/pysnooper/tracer.py#L351), the thr

[2020-09-13 12:31] cool-RR commented on #195
Great catch. Would you be interested in writing a PR to fix this and add tests?

[2020-09-13 12:37] yaelmi3 commented on #195
Yup :)

[2020-09-14 09:44] #195 closed

[2020-09-26 10:11] cool-RR opened #197 "Reduce dependency on `sys.gettrace`"
I tried to use PySnooper on my Brython app, and it failed so I opened [this issue](https://github.com/brython-dev/brython/issues/1499) for them. It's interesting, we use `sys.gettrace` which turns out to be a CPython implementation detail rather than a Python language feature.

Would be cool if we other stopped depending on `sys.gettrace`, or provided a nice error message or a workaround for imple

[2020-09-26 10:11] cool-RR commented on #197
@alexmojaki This also affects your snoop.

[2020-09-26 13:16] alexmojaki commented on #197
Are you saying other platforms support settrace but not gettrace?

[2020-09-26 13:27] alexmojaki commented on #197
Also there's plenty of other implementation details being used, like everything involving frames. I'm impressed that Brython seems to support some of that, but from playing with the console it doesn't seem to support frame.f_lasti or code.co_varnames.

[2020-09-26 14:14] cool-RR commented on #197
LOL, Pierre implemented that right now: https://github.com/brython-dev/brython/issues/1499

Unfortunately PySnooper still doesn't work on Brython, can't figure out why.

I've checked PyPy and they do have `gettrace`. Honestly, it seems to be pretty simple logic, so it wouldn't be crazy to suggest on python-ideas to change the definition of it to be part of the language-- Or try to understand why i

[2020-09-26 14:20] alexmojaki commented on #197
settrace is an implementation detail, which is not surprising. The only thing I find surprising in all this is that Brython had settrace but not gettrace.

[2020-09-26 14:24] cool-RR commented on #197
Ah, didn't know that. That would make this issue pointless.

[2020-09-26 14:24] #197 closed

[2020-10-10 10:34] tassosblackg opened #199 "Question: Is there a way to delete log file (previous) or separate from new logs (between runs)?"
Hi,
Is there a way to use the same log file again and again by separating logs between runs? Or at least delete previous logs and store new ones?
Do I have to rm log file manually?

peace out,

[2020-10-10 10:38] cool-RR commented on #199
Can you suggest what the ideal behavior you would want from PySnooper for your usecase?

[2020-10-10 10:48] tassosblackg commented on #199
Actually both :smile: . I mean some times you need to compare logs from a function between runs and see the changes.
Then after you finish your debug, and move on to the next part of code you want to debug. It's more convenient to use the same name log file instead of creating new log files, so in this case, you need to delete the old log file. :thinking:

[2020-10-10 10:54] cool-RR commented on #199
I'd like you to write in a detailed and clear way what would be the ideal way that PySnooper would behave in your usecase.

[2020-10-10 11:06] tassosblackg commented on #199
For example,

`@pysnooper.snoop('func1.log',seperate_between_logs=True) `
`def func ():`
` some code here ..`

The first time run creates a log file starting with :
`Source path:... program.py`
`Starting var:.. file = 'input_file'`
`...`

When I re-run the program I want the log file to look like this:

`Source path:... program.py`
`Starting var:.. file = 'input_file'`
`...`

`Second Run or New lo

[2020-10-10 11:08] tassosblackg commented on #199
And if I want to delete the old log file and re-write for the start

For example,

`@pysnooper.snoop('func1.log',seperate_between_logs=False) `
`def func ():`
` some code here ..`

and deletes the log file every time I re-run the program..

[2020-10-15 18:55] cool-RR opened #200 "Feature request: Support `depth=float('inf')`"

[2020-10-19 17:10] tassosblackg commented on #199
So is there something like these features above, as an optional argument to pass in snoop()? or is there any other way to do similar tasks?

[2020-10-19 17:14] alexmojaki commented on #199
@cool-RR I think there used to be an `append` option when writing to a file, did it become the only option?

[2020-10-20 16:24] cool-RR commented on #199
@tassosblackg I understand. That doesn't exist, but it'll be a useful feature. If you'd like to implement it, add a global boolean to the file `tracer.py` that says whether PySnooper outputted anything already or not. If not, it'll output a line "Starting PySnooper output:" It'll do that always, regardless of whether you're writing to a file, or if you set `overwrite=True` or not.

Can you confirm

[2020-10-20 17:36] alexmojaki commented on #199
Ah OK, the flag I was thinking of was `overwrite=True`. @tassosblackg try that in your `@snoop`, it'll replace the previous file.

A global boolean assumes that all snoop decorators are writing to the same output, so that might be a problem.

[2020-10-20 17:44] cool-RR commented on #199
Ah, then I think we better drop this feature, because if it weren't a global, I'm afraid it might write that line multiple times, and I'd rather avoid it. So @tassosblackg , sorry but I changed my mind, I wouldn't want this feature to be added.

[2020-10-20 17:44] #199 closed

[2020-10-27 03:55] VigourZHAO opened #201 "python .venv env, log location?"
when i at the python .venv env used pysnooper. set 'xxx.log', but used shell " locate "xxx.log" ", don't find log info.
Reply if it is convenient, thank you.

[2020-10-27 04:11] #201 closed

[2020-10-27 04:11] VigourZHAO commented on #201
sorry, is ok.

[2020-12-20 11:25] cool-RR opened #210 "Feature request: Support showing source when it's a multiline string passed to `python -c`"

[2021-01-20 03:34] ydf0509 opened #211 "pysnooper cant deco async funciton"
[code]

this will be error.pycnooper cant decorate async function

[2021-01-20 05:28] cool-RR commented on #211
Duplicate of #27

[2021-01-20 05:28] #211 closed

[2021-02-26 22:14] alexmojaki commented on #18
I was reminded of this issue by the issue linked above. I'm still trying to understand why people want this kind of thing. @sarthak0415, were you able to follow the instructions by @bittner?

If it is important, it looks like https://pypi.org/project/stickytape/ can help.

[2021-02-27 08:43] cool-RR commented on #18
@alexmojaki I'll try to explain: Some people have shitty corporate setups, they've got code running in convoluted ways with Python files being copied in weird ways, hacks to `sys.path`, sometimes multiple conflicting paths in `PYTHONPATH`. Sometimes you've got a program that has a Python scripting capability, but you have to enter your script in a certain way because it wasn't meant to deal with p

[2021-03-13 11:05] alexmojaki opened #214 "Restore previous f_trace after snoop is done"
See https://github.com/alexmojaki/snoop/pull/34

Basically you need to do this:

https://github.com/alexmojaki/snoop/blob/437956c661184ab458a3f60fcf97c81c31ea2db1/snoop/tracer.py#L213-L217

In particular you need `calling_frame.f_trace = previous_trace` *in addition* to the existing `sys.settrace(previous_trace)`.

This is obviously good for restoring the other tracer properly, which I confirmed w

[2021-03-13 12:58] cool-RR commented on #214
![](https://www.memesmonkey.com/images/memesmonkey/a7/a77032e0000c68e8d20ed13e026794b5.jpeg)

[2021-03-26 01:58] diVineProportion opened #215 "Frozen Implementation Fails"
when freezing with pyinstaller (single file) on windows a `NameError: name 'copyright' is not defined` appears. Not sure if this is an issue with hidden imports or hooks, but I wasn't able to get it to work with a simple
[code]

[2021-03-26 07:34] cool-RR commented on #215
I believe this belongs here: https://github.com/alexmojaki/snoop

[2021-03-26 07:34] #215 closed

[2021-03-26 13:47] alexmojaki commented on #215
@diVineProportion I've just pushed a fix for this, upgrade to the latest version of `cheap_repr` which is where the error comes from. If that doesn't work, open an issue on https://github.com/alexmojaki/snoop or https://github.com/alexmojaki/cheap_repr.

[2021-04-05 06:31] richardrl opened #216 "PDB comparison"
How is this different from PDB

[2021-04-05 09:32] alexmojaki commented on #216
PDB is interactive, this is not. There isn't even a similarity. Try using both and compare.

[2021-04-05 09:32] #216 closed

[2021-05-09 10:09] alexmojaki commented on #210
better-exceptions actually does this (with heavy caveats) by looking up its pid in the output of a `ps` command to get the full command: https://github.com/Qix-/better-exceptions/blob/4e150ba3428013e55c274b06829b0360704d6750/better_exceptions/formatter.py#L149

This baffles me. Why are you running complicated code in `python -c`?

[2021-05-09 11:47] cool-RR commented on #210
Interesting, we might want to do the same.

For the same reason PySnooper exists in the first place instead of just using a debugger: Because people suck.

[2021-05-11 15:57] frenzymadness opened #218 "Some tests are failing with Python 3.10 beta 1"
Hello.

It seems that some parts of PySnooper produce different results in Python 3.10 beta 1 and therefore 9 tests fail:

[code]
But, I've tried to reproduce the issue manually and I have to admit that I see no real difference between the output of a simple script run via Python 3.9 and 3.10. Might it be caused by something internal in tests?

[2021-05-11 16:54] hroncok commented on #218
Do you run beta 1? Because it used to work with alpha 7.

[2021-05-11 17:09] frenzymadness commented on #218
Yes. I guess that the switch from alpha 7 to beta 1 is the reason why I did not get this report earlier.

[2021-05-11 19:02] alexmojaki commented on #218
The tests for my fork `snoop` make it a little easier to see the difference: https://github.com/alexmojaki/snoop/commit/f83c0ae6767f3873c03f5d1c4a0af7fc96ae3219

Looks like the main difference is that the `with` line gets revisited on exiting. I saw something recently about sys.settrace visiting lines more thoroughly, that's probably why this is happening.

[2021-05-12 05:53] frenzymadness commented on #218
You are right, when I use a with block, there is one more line in Python 3.10:

Code
[code]
Python 3.9:
[code]
Python 3.10:
[code]
Diff
[code]

And after some sleep, I finally understand the output of the tests. The most important is the very end where the `with` statement makes the difference:

[code]
So, to fix the test_var_order these two lines are needed:
[code]
The question here is how to fix

[2021-05-14 18:45] cool-RR commented on #218
Hi Lumír! I'm happy to see you again, and thank you for this in-depth analysis.

What do you think about adding an argument `max_python_version` to [`_BaseEntry`](https://github.com/cool-RR/PySnooper/blob/5abece033be2b91c4e2c1103ba041504fc7fab0a/tests/utils.py#L32) and thus to all its subclasses (like `VariableEntry`, `LineEntry`, etc.) Then, when the Python version is higher than the given versio

[2021-05-18 08:11] frenzymadness commented on #218
Sounds interesting. I'd also add a `min_python_version` argument so you would be able to specify both limits to an entry and therefore test the line only for a specific range of Python versions.

I'll take a look at this solution.

[2021-05-19 08:21] #218 closed

[2021-06-15 09:36] cxs-kge commented on #176
Until something is designed and implemented, I've written a small utility to convert pysnooper logs to html pages, with folds based on the indentation.

It's clearly not perfect as there is no syntaxic coloration, nor a way to search for a specific term in the page, but it's better than looking at all the logs manually.

https://gist.github.com/cxs-kge/689597fd216b0a64b5bf0c35354cd0b4

[2021-06-15 09:45] cool-RR commented on #176
Cool, thank you.

[2021-09-14 16:27] keszybz opened #221 "pypi has 1.0.0 has there is no tag in the repo"
C.f. https://pypi.org/project/PySnooper/1.0.0/ .

[2021-09-14 17:20] cool-RR commented on #221
Oops, my bad. Fixed.

I'm curious, what are the effects of a missing tag?

[2021-09-14 17:20] #221 closed

[2021-09-14 17:28] keszybz commented on #221
I used the tarball download in the Fedora package (https://src.fedoraproject.org/rpms/python-pysnooper). The pypi download works too, and I can trivially switch to that, but I wanted to verify that the tarball on pypi is legit.

[2021-09-14 17:41] cool-RR commented on #221
Cool, thanks for reporting.

On Tue, Sep 14, 2021, 20:29 Zbigniew Jędrzejewski-Szmek <
***@***.***> wrote:

[2021-12-04 14:50] hktalent opened #222 "bug: python3.9/site-packages/pysnooper/tracer.py", line 263, in simple_wrapper"
- code
[code]
- error:
[code]

[2021-12-04 15:02] cool-RR commented on #222
Please make your example completely standalone. I have a feeling that in this process you'll find your bug.

[2021-12-04 16:31] #222 closed

[2021-12-04 16:33] hktalent commented on #222
@cool-RR  thanks

[2022-01-15 08:35] EmanueleCannizzaro opened #224 "Output to logging"
Thank you for this very useful tool.
Is it possible to write the output to logging warn or info functions?

[2022-01-15 08:43] cool-RR commented on #224
I believe you can pass any callable as the first argument to `snoop` and it'll use that.

[2022-01-15 08:43] #224 closed

[2022-02-17 10:06] martinsmid commented on #176
I've been using this little script to strip and diff two pysnooper's outputs

    sed -r 's/[0-9]+ |//' -i $1
    sed -e 's/at 0x[a-z0-9]\+/at XXX/g' -i $1
    sed -e 's/line [0-9]\+/line YYY/g' -i $1

Put it in a file like strip_snoop.sh and use with path to file `strip_snoop.sh <file>`.
I thought the normalize parameter would help now with the updated version.

I've put it into a [gist](https://

[2022-02-17 10:54] martinsmid commented on #176
Sorry for spamming this thread, but I should mention I found the problem. I assumed the output file is always overwritten with new content, but it is appended by default. There doesn't seem to be a switch to change this behavior, so I am using `snoop(open('<filepath>', 'w'), ...)`. Everything works now.

[2022-02-22 14:26] cool-RR commented on #176
Thanks Martin. Right now I don't have this need, but next time I'll have it I'll look into your scripts.

[2022-03-14 10:46] guettli opened #225 "Snoop recursively, but only in my code."
Hi,

I would like to trace the http request handling of Django in my development environment.

But I am sure that the bug is in my code, not in the code of Django.

I would like to see every line of my code, excluding Django, standard library and other libraries.

I had a look at the arguments which `snoop()` accepts, but I think it is not possible up to now.

Would you accept a PR which implement

[2022-03-14 11:05] cool-RR commented on #225
This is a good idea. How would you propose an API for that would look like? I have some thoughts but I want to hear yours first.

@alexmojaki If you'll have any opinion about this, I'll be happy to hear it.

[2022-03-14 20:11] alexmojaki commented on #225
Link to the equivalent issue: https://github.com/alexmojaki/snoop/issues/51

To do something similar now In PySnooper I think you'd have to override `Tracer._is_internal_frame`.

[2022-08-30 23:37] smjaberl opened #227 "print value of a claas var"
Hi,

just have a look on this simple code example:

the output of pysnooper is this

I think it would be very nice, if I could see the value of self.b as well as  the value of a, c, and d.

[2022-08-31 06:03] cool-RR commented on #227
`pysnooper.snoop(watch=('self.b',))`

[2022-08-31 06:03] #227 closed